.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.region-header-wrapper:before,
.region-header-wrapper:after,
.region-navigation-wrapper:before,
.region-navigation-wrapper:after,
.view-recherche-par-criteres .views-exposed-form .views-exposed-widget-row:before,
.view-recherche-par-criteres .views-exposed-form .views-exposed-widget-row:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.region-header-wrapper:after,
.region-navigation-wrapper:after,
.view-recherche-par-criteres .views-exposed-form .views-exposed-widget-row:after {
  clear: both;
}
html {
  height: 100%;
}
html.overlay-open .navbar-fixed-top {
  z-index: 400;
}
html.js fieldset.collapsed {
  height: auto;
}
html.js input.form-autocomplete {
  background-image: none;
}
body {
  min-height: 100%;
  background-color: #fff;
  position: relative;
}
body.admin-expanded.admin-vertical.admin-nw .navbar,
body.admin-expanded.admin-vertical.admin-sw .navbar {
  margin-left: 260px;
}
body.navbar-is-fixed-top {
  padding-top: 64px !important;
}
body.navbar-is-fixed-bottom {
  padding-bottom: 64px !important;
}
body.toolbar {
  padding-top: 30px !important;
}
body.toolbar .navbar-fixed-top {
  top: 30px;
}
body.toolbar.navbar-is-fixed-top {
  padding-top: 94px !important;
}
body.toolbar-drawer {
  padding-top: 64px !important;
}
body.toolbar-drawer .navbar-fixed-top {
  top: 64px;
}
body.toolbar-drawer.navbar-is-fixed-top {
  padding-top: 128px !important;
}
body.admin-menu {
  margin-top: 0 !important;
  padding-top: 20px;
}
body.admin-menu .navbar-fixed-top {
  top: 29px;
}
body.admin-menu.navbar-is-fixed-top {
  padding-top: 93px !important;
}
@media screen and (max-width: 767px) {
  body .ombre {
    box-shadow: none;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: #eeeeee;
  }
}
body div#admin-toolbar {
  z-index: 1600;
}
body #toolbar,
body #admin-menu,
body #admin-toolbar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
body #admin-menu {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1600;
}
body #admin-menu .dropdown li {
  line-height: normal;
}
body .main-container {
  padding: 15px 15px 40px;
}
@media screen and (min-width: 768px) {
  body .main-container {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 30px 40px;
  }
}
body .main-container > .row {
  position: relative;
}
.navbar.container {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .navbar.container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .navbar.container {
    max-width: 940px;
  }
}
@media screen and (min-width: 1200px) {
  .navbar.container {
    max-width: 1140px;
  }
}
.navbar.container > .container {
  margin: 0;
  padding: 0;
  width: auto;
}
#overlay-container,
.overlay-modal-background,
.overlay-element {
  z-index: 1500;
}
#toolbar {
  z-index: 1600;
}
.modal {
  z-index: 1620;
}
.modal-dialog {
  z-index: 1630;
}
.modal-backdrop {
  z-index: 1610;
}
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}
a {
  text-decoration: none;
}
.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}
.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .navbar .logo {
    margin-right: 0;
    padding-left: 0;
  }
}
ul.secondary {
  float: left;
}
@media screen and (min-width: 768px) {
  ul.secondary {
    float: right;
  }
}
.page-header {
  margin-top: 0;
}
.block:first-child .block-title {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
.label {
  padding: .3em .6em;
}
.region-help > .glyphicon {
  font-size: 18px;
  float: left;
  margin: -0.05em 0.5em 0 0;
}
.region-help .block {
  overflow: hidden;
}
form#search-block-form {
  margin: 0;
}
.navbar #block-search-form {
  float: none;
  margin: 5px 0 5px 5px;
}
@media screen and (min-width: 992px) {
  .navbar #block-search-form {
    float: right;
  }
}
.navbar-search .control-group {
  margin-bottom: 0px;
}
ul.action-links {
  margin: 12px 0;
  padding: 0;
}
ul.action-links li {
  display: inline;
  margin: 0;
  padding: 0 6px 0 0;
}
ul.action-links .glyphicon {
  padding-right: 0.5em;
}
input,
textarea,
select,
.uneditable-input {
  max-width: 100%;
  width: auto;
}
input.error {
  color: #a94442;
  border-color: #ebccd1;
}
fieldset legend.panel-heading {
  float: left;
  margin: 0;
}
fieldset .panel-body {
  clear: both;
}
fieldset .panel-heading a.panel-title {
  color: inherit;
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
}
fieldset .panel-heading a.panel-title:hover {
  text-decoration: none;
}
.form-actions {
  clear: both;
}
.resizable-textarea textarea {
  border-radius: 4px 4px 0 0;
}
.radio:first-child,
.checkbox:first-child {
  margin-top: 0;
}
.radio:last-child,
.checkbox:last-child {
  margin-bottom: 0;
}
.help-block,
.control-group .help-inline {
  color: #777777;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
}
.panel-heading {
  display: block;
}
a.tabledrag-handle .handle {
  height: auto;
  width: auto;
}
.error {
  color: #a94442;
}
div.error,
table tr.error {
  background-color: #f2dede;
  color: #a94442;
}
.control-group.error {
  background: none;
}
.control-group.error label,
.control-group.error .control-label {
  color: #a94442;
  font-weight: 600;
}
.control-group.error input,
.control-group.error textarea,
.control-group.error select,
.control-group.error .uneditable-input {
  color: #555555;
  border: 1px solid #ccc;
}
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #333333;
}
/*.list-inline {
  > li.first {
    padding-left: 0;
  }
}*/
.nav-tabs {
  margin-bottom: 10px;
}
ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
  list-style-image: none;
}
.tabs--secondary {
  margin: 0 0 10px;
}
.submitted {
  margin-bottom: 1em;
  font-weight: normal;
  color: #777;
}
.password-strength {
  width: 17em;
  float: right;
  /* LTR */
  margin-top: 1.4em;
}
.password-strength-title {
  display: inline;
}
.password-strength-text {
  float: right;
  /* LTR */
  font-weight: bold;
}
.password-indicator {
  background-color: #949494;
  height: 0.3em;
  width: 100%;
}
.password-indicator div {
  height: 100%;
  width: 0%;
  background-color: #999;
}
input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}
div.password-confirm {
  float: right;
  /* LTR */
  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}
div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #B4B4B4;
}
div.password-suggestions ul {
  margin-bottom: 0;
}
.confirm-parent,
.password-parent {
  clear: left;
  /* LTR */
  margin: 0;
  width: 36.3em;
}
.progress-wrapper .progress {
  margin-bottom: 10px;
}
.pagination ul > li > a.progress-disabled {
  float: left;
}
.pagination > .disabled > span {
  float: none;
  padding: 2px 5px;
  border: 0 none;
  background-color: transparent;
}
.form-autocomplete .glyphicon {
  color: #777777;
  font-size: 120%;
}
.form-autocomplete .glyphicon.glyphicon-spin {
  color: #6a5687;
}
.form-autocomplete .input-group-addon {
  background-color: #ffffff;
}
.ajax-progress .glyphicon {
  font-size: 90%;
  margin: 0 -0.25em 0 0.5em;
}
.glyphicon-spin {
  display: inline-block;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
a .glyphicon-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.glyphicon-refresh {
  -webkit-transform-origin: 50% 45%;
  -moz-transform-origin: 50% 45%;
  -ms-transform-origin: 50% 45%;
  -o-transform-origin: 50% 45%;
  transform-origin: 50% 45%;
}
/**
 * Missing Bootstrap 2 tab styling.
 * @see http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
 * @see http://bootply.com/74926
 */
.tabbable {
  margin-bottom: 20px;
}
.tabs-below > .nav-tabs,
.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
  border-bottom: 0;
}
.tabs-below > .nav-tabs .summary,
.tabs-left > .nav-tabs .summary,
.tabs-right > .nav-tabs .summary {
  color: #777777;
  font-size: 12px;
}
.tab-pane > .panel-heading {
  display: none;
}
.tab-content > .active {
  display: block;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}
.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
  padding-bottom: 20px;
  width: 220px;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li:focus,
.tabs-right > .nav-tabs > li:focus {
  outline: 0;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left > .nav-tabs > li > a:focus,
.tabs-right > .nav-tabs > li > a:focus {
  outline: 0;
}
.tabs-left > .tab-content,
.tabs-right > .tab-content {
  border-radius: 0 4px 4px 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd;
  overflow: hidden;
  padding: 10px 15px;
}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: -1px;
}
.tabs-left > .nav-tabs > li > a {
  border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #ddd #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs > .active > a,
.tabs-left > .nav-tabs > .active > a:hover,
.tabs-left > .nav-tabs > .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: -1px;
}
.tabs-right > .nav-tabs > li > a {
  border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #ddd;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.tabs-right > .nav-tabs > .active > a,
.tabs-right > .nav-tabs > .active > a:hover,
.tabs-right > .nav-tabs > .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
}
th.checkbox,
td.checkbox,
th.radio,
td.radio {
  display: table-cell;
}
.views-display-settings .label {
  font-size: 100%;
  color: #666666;
}
.views-display-settings .footer {
  padding: 0;
  margin: 4px 0 0 0;
}
table .radio input[type="radio"],
table .checkbox input[type="checkbox"] {
  max-width: inherit;
}
.form-horizontal .form-group label {
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}
@media (min-width: 768px) {
  .form-horizontal .form-group label {
    float: left;
    width: 16.66666667%;
  }
}
.alert a {
  font-weight: bold;
}
.alert-success a {
  color: #2b542c;
}
.alert-info a {
  color: #245269;
}
.alert-warning a {
  color: #66512c;
}
.alert-danger a {
  color: #843534;
}
.breadcrumb {
  padding: 7px 15px;
  background-color: #eee;
}
.btn {
  white-space: normal;
}
.media-left,
.media-right,
.media > .pull-left,
.media > .pull-right {
  padding: 0;
}
.media-left .media-object {
  margin-right: 15px;
}
.media-right .media-object {
  margin-left: 15px;
}
.pagination {
  position: relative;
  display: block;
  margin: 30px 0;
  padding: 3px 0;
  text-align: center;
  background-color: #eee;
}
.pagination > li > a,
.pagination > li > span {
  float: none;
  padding: 2px 5px;
  border: 0 none;
  background-color: transparent;
}
.pagination > .active > a,
.pagination > .active > span {
  border-radius: 3px !important;
}
.pagination > li:first-child > a,
.pagination > li:last-child > a {
  border-radius: 3px;
}
.pagination .prev {
  position: absolute;
  left: 0;
  padding-left: 10px;
}
.pagination .next {
  position: absolute;
  right: 0;
  padding-right: 10px;
}
.pagination:last-child {
  margin-bottom: 0;
}
.nav-tabs {
  border: none;
  margin-bottom: 20px;
}
.nav-tabs li {
  border-radius: 0;
}
.nav-tabs li a {
  border-radius: 4px;
  font-size: 15px;
}
.nav-tabs > li.active > a,
.nav-tabs li:hover > a,
.nav-tabs > li.active a:hover,
.nav-tabs li:hover a:hover,
.nav-tabs > li.active a:focus,
.nav-tabs li:hover a:focus {
  color: #fff;
  background-color: #6A5687;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: pointer;
}
.table thead tr th {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.table tr td.views-field {
  padding: 10px;
}
.table tr.even {
  background-color: #eee;
}
.view-filters {
  background-color: #bdbdbd;
  padding: 10px;
  margin-bottom: 20px;
}
.view-chroniques-du-contributeur .inter-col,
.view-flag-bookmarks-tab .inter-col {
  margin: 0 0 30px 0;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
}
.view-chroniques-du-contributeur .inter-col .views-field-title,
.view-flag-bookmarks-tab .inter-col .views-field-title {
  text-transform: uppercase;
  padding-bottom: 5px;
}
.view-chroniques-du-contributeur .inter-col .views-field-title a,
.view-flag-bookmarks-tab .inter-col .views-field-title a {
  color: #616161;
  font-weight: bold;
}
.view-chroniques-du-contributeur .inter-col .views-field-field-image,
.view-flag-bookmarks-tab .inter-col .views-field-field-image {
  width: auto;
  display: block;
  float: left;
  margin: 0 15px 5px 0;
}
.view-chroniques-du-contributeur .inter-col .views-field-name span,
.view-flag-bookmarks-tab .inter-col .views-field-name span,
.view-chroniques-du-contributeur .inter-col .views-field-created span,
.view-flag-bookmarks-tab .inter-col .views-field-created span,
.view-chroniques-du-contributeur .inter-col .views-field-type span,
.view-flag-bookmarks-tab .inter-col .views-field-type span,
.view-chroniques-du-contributeur .inter-col .views-field-field-annuaires span,
.view-flag-bookmarks-tab .inter-col .views-field-field-annuaires span,
.view-chroniques-du-contributeur .inter-col .views-field-name div,
.view-flag-bookmarks-tab .inter-col .views-field-name div,
.view-chroniques-du-contributeur .inter-col .views-field-created div,
.view-flag-bookmarks-tab .inter-col .views-field-created div,
.view-chroniques-du-contributeur .inter-col .views-field-type div,
.view-flag-bookmarks-tab .inter-col .views-field-type div,
.view-chroniques-du-contributeur .inter-col .views-field-field-annuaires div,
.view-flag-bookmarks-tab .inter-col .views-field-field-annuaires div {
  font-size: 10px;
  display: inline;
}
.view-chroniques-du-contributeur .inter-col .views-field-comment-count,
.view-flag-bookmarks-tab .inter-col .views-field-comment-count {
  border-top: 2px solid #fff;
}
.view-chroniques-du-contributeur .inter-col .views-field-comment-count span,
.view-flag-bookmarks-tab .inter-col .views-field-comment-count span {
  font-size: 10px;
}
.view-chroniques-du-contributeur .inter-col .views-field-body,
.view-flag-bookmarks-tab .inter-col .views-field-body {
  padding: 5px 0;
}
.view-chroniques-du-contributeur .views-row:hover,
.view-flag-bookmarks-tab .views-row:hover {
  opacity: 0.8;
}
.field-name-field-tags .field-item a {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  padding: .3em .6em;
  background-color: #11809e;
}
a.field-name-field-tags .field-item a:hover,
a.field-name-field-tags .field-item a:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.field-name-field-tags .field-item a:empty {
  display: none;
}
.btn .field-name-field-tags .field-item a {
  position: relative;
  top: -1px;
}
.field-name-field-tags .field-item a[href]:hover,
.field-name-field-tags .field-item a[href]:focus {
  background-color: #0c5b70;
}
.page-user .page-header .field-name-field-profession .field-label {
  display: none;
}
.page-user .page-header .field-name-field-profession .field-item {
  color: #848484;
  font-size: 18px;
  font-style: italic;
}
.page-user .user-infos {
  margin-bottom: 15px;
}
.page-user .user-infos .user-infos-links {
  margin-top: 10px;
}
.page-user .node-simple_teaser {
  margin-bottom: 15px;
  border: 2px solid #eeeeee;
  padding: 0px 10px 5px 10px;
}
.page-user .node-simple_teaser h2 {
  font-size: 24px;
}
.page-user .node-simple_teaser .group-right {
  width: 30%;
  text-align: center;
}
.page-user .node-simple_teaser .group-right img {
  margin-top: 20px;
}
.page-user .node-simple_teaser .group-left {
  width: 70%;
}
.page-user .node-simple_teaser .group-left .field-name-field-annuaires {
  margin: 7px 0;
}
.page-user .node-simple_teaser .group-left .field-name-field-annuaires .field-label {
  display: none;
}
.page-user .node-simple_teaser .group-left .flag-bookmarks {
  margin-top: 10px;
  display: block;
}
.page-user .node-simple_teaser .group-left .fivestar-summary {
  display: none;
}
.page-user .node-simple_teaser .group-left .field-type-fivestar {
  display: inline-block;
}
.page-user .media:first-child {
  margin-bottom: 25px;
}
.page-user-contact .form-type-checkbox #edit-copy {
  margin-left: 0;
}
.page-user-contact .form-type-checkbox label {
  padding-left: 25px;
  padding-top: 2px;
}
.not-logged-in .view-flag-bookmarks-tab th.views-field-ops,
.not-logged-in .view-flag-bookmarks-tab td.views-field-ops {
  display: none;
}
#block-framastuff-novelties-sidebar .block-content .nodes-list .nodes-list-row {
  margin-top: 0;
}
#block-framastuff-novelties-sidebar .block-content .nodes-list .nodes-list-row .node {
  display: block;
  width: 100%;
  border-top: 3px solid #fff;
  padding-bottom: 10px;
  background-color: #eee;
  min-height: 70px;
  position: relative;
  overflow: hidden;
  word-wrap: break-word;
}
#block-framastuff-novelties-sidebar .block-content .nodes-list .nodes-list-row .node .submitted,
#block-framastuff-novelties-sidebar .block-content .nodes-list .nodes-list-row .node .user-picture {
  display: none;
}
#block-framastuff-novelties-sidebar .block-content .nodes-list .nodes-list-row .node h2.node-title {
  font-size: 14px;
  margin: 0;
}
#block-framastuff-novelties-sidebar .block-content .nodes-list .nodes-list-row .node h2.node-title,
#block-framastuff-novelties-sidebar .block-content .nodes-list .nodes-list-row .node .field-name-field-annuaires {
  padding-left: 60px;
}
#block-framastuff-novelties-sidebar .block-content .nodes-list .nodes-list-row .node img {
  position: absolute;
  top: 10px;
}
#block-framastuff-novelties-sidebar .block-content .nodes-list .nodes-list-row .node + .node {
  border-left: 0;
}
#block-framastuff-novelties-sidebar .block-content .nodes-list .nodes-list-row .nodes-list-empty-item {
  display: none;
}
.view-top-s-informer .view-content .views-row {
  display: block;
  width: 100%;
  border-top: 3px solid #fff;
  padding: 5px;
  background-color: #eee;
}
.view-top-s-informer .view-content .views-row .views-field-title a {
  font-size: 14px;
  font-weight: bold;
}
@media (max-width: 990px) {
  .page-user .node-simple_teaser .group-right {
    padding-left: 15px;
    width: 50%;
  }
  .page-user .node-simple_teaser .group-left {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .view-chroniques-du-contributeur .views-row,
  .view-flag-bookmarks-tab .views-row {
    min-height: 0;
  }
}
/* Alignement */
@media screen and (min-width: 768px) {
  .pull-right-sm {
    float: right !important;
  }
}
@media screen and (min-width: 768px) {
  .pull-left-sm {
    float: left !important;
  }
}
@media screen and (min-width: 992px) {
  .pull-right-md {
    float: right !important;
  }
}
@media screen and (min-width: 992px) {
  .pull-left-md {
    float: left !important;
  }
}
@media screen and (min-width: 1200px) {
  .pull-right-lg {
    float: right !important;
  }
}
@media screen and (min-width: 1200px) {
  .pull-left-lg {
    float: left !important;
  }
}
@media screen and (min-width: 768px) {
  .clear-right-sm {
    clear: right;
  }
}
@media screen and (min-width: 768px) {
  .clear-left-sm {
    clear: left;
  }
}
@media screen and (min-width: 992px) {
  .clear-right-md {
    clear: right;
  }
}
@media screen and (min-width: 992px) {
  .clear-left-md {
    clear: left;
  }
}
@media screen and (min-width: 1200px) {
  .clear-right-lg {
    clear: right;
  }
}
@media screen and (min-width: 1200px) {
  .clear-left-lg {
    clear: left;
  }
}
/* Buttons */
@media screen and (max-width: 767px) {
  .btn-block-xs {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .btn-block-xs + .btn-block-xs {
    margin-top: 5px;
  }
}
@media screen and (min-width: 768px) {
  .btn-block-sm {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .btn-block-sm + .btn-block-sm {
    margin-top: 5px;
  }
}
@media screen and (min-width: 992px) {
  .btn-block-md {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .btn-block-md + .btn-block-md {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-block-lg {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .btn-block-lg + .btn-block-lg {
    margin-top: 5px;
  }
}
.nodes-list .nodes-list-row .node {
  padding: 10px 15px;
  background-color: #f5f5f5;
}
.nodes-list .nodes-list-row .node + .node {
  border-top: 1px solid #e0e0e0;
}
.nodes-list .nodes-list-row .nodes-list-empty-item {
  display: none;
}
.nodes-list .nodes-list-row + .nodes-list-row {
  border-top: 1px solid #e0e0e0;
}
@media screen and (min-width: 768px) {
  .nodes-list .nodes-list-row {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .nodes-list .nodes-list-row + .nodes-list-row {
    margin-top: 15px;
    border-top: 0;
  }
  .nodes-list .nodes-list-row .node {
    display: table-cell;
    width: 33.33%;
    padding: 10px 15px;
    background-color: #f5f5f5;
  }
  .nodes-list .nodes-list-row .node + .node {
    border-top: 0;
    border-left: 1px solid #e0e0e0;
  }
  .nodes-list .nodes-list-row .nodes-list-empty-item {
    display: table-cell;
    width: 33.33%;
    background-color: transparent;
  }
}
.region-header-wrapper {
  position: relative;
}
.region-header-wrapper .logo,
.region-header-wrapper .name {
  display: inline-block;
}
.region-header-wrapper .logo {
  margin: 0 15px 15px 0;
}
.region-header-wrapper .name {
  position: relative;
  z-index: 2;
  text-decoration: none;
}
.region-header-wrapper h1 {
  margin: 0;
  font-size: 24px;
}
.region-header-wrapper .lead {
  display: none !important;
}
.region-header-wrapper .toggle-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  z-index: 1;
}
.region-header-wrapper .toggle-buttons .toggle-navigation {
  float: left !important;
}
.region-header-wrapper .toggle-buttons .toggle-search,
.region-header-wrapper .toggle-buttons .toggle-user-menu {
  float: right !important;
}
.region-header-wrapper .toggle-buttons .glyphicon {
  font-size: 1.3em;
  line-height: inherit;
}
.region-header-wrapper .toggle-buttons button {
  color: #3E3363;
  border: 1px solid #949494;
  border-radius: 4px;
  background-color: white;
}
.region-header-wrapper .toggle-buttons button + button {
  margin-left: 4px;
}
.region-header-wrapper .site-identity {
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .region-header-wrapper {
    margin-bottom: 30px;
  }
  .region-header-wrapper .lead {
    margin-top: 10px;
    font-size: 16px;
  }
  .region-header-wrapper h1 {
    font-size: 36px;
  }
  .region-header-wrapper .lead {
    display: block !important;
    font-style: italic;
    color: #666;
  }
  .region-header-wrapper .site-identity {
    margin-bottom: 0;
    text-align: left;
  }
}
.node-full {
  /* All sheets */
  /* Logiciels */
  /* Chroniques */
  /* Articles de revue, blog, journal... */
  /* Livres */
  /* Médias */
  /* Matériel */
  /* Ressources non spécifiques */
}
.node-full.node-sheet {
  /*.flag-bookmarks {
      .flag {
        display: inline-block;
        font-size: 30px;
        line-height: 1;
        text-align: center;
        vertical-align: middle;
      }
    }*/
}
.node-full.node-sheet .header {
  margin-bottom: 20px;
}
.node-full.node-sheet .header .media-left .media-object {
  margin-right: 20px;
}
.node-full.node-sheet .page-header {
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.node-full.node-sheet .node-title {
  margin: 0;
}
.node-full.node-sheet .field-name-body,
.node-full.node-sheet .field-name-field-r-sum-du-livre {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .node-full.node-sheet .field-name-body,
  .node-full.node-sheet .field-name-field-r-sum-du-livre {
    margin-top: 0;
  }
}
.node-full.node-sheet .field-name-field-tags {
  margin: 15px 0;
}
.node-full.node-sheet .field-name-field-tags a {
  font-style: italic;
  text-decoration: none;
}
.node-full.node-sheet .field-name-field-tags a:hover,
.node-full.node-sheet .field-name-field-tags a:focus {
  text-decoration: underline;
}
.node-full.node-sheet .field-name-field-tags .glyphicon {
  vertical-align: middle;
}
.node-full.node-sheet .field-name-field-image img,
.node-full.node-sheet .field-name-field-image-cat img {
  max-width: 100%;
  height: auto;
}
.node-full.node-sheet .external-links {
  margin: 10px 0 20px;
}
.node-full.node-sheet .external-links .field a {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: normal;
  margin-top: 10px;
}
.node-full.node-sheet .external-links .field a:focus,
.node-full.node-sheet .external-links .field a:active:focus,
.node-full.node-sheet .external-links .field a.active:focus,
.node-full.node-sheet .external-links .field a.focus,
.node-full.node-sheet .external-links .field a:active.focus,
.node-full.node-sheet .external-links .field a.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.node-full.node-sheet .external-links .field a:hover,
.node-full.node-sheet .external-links .field a:focus,
.node-full.node-sheet .external-links .field a.focus {
  color: #333;
  text-decoration: none;
}
.node-full.node-sheet .external-links .field a:active,
.node-full.node-sheet .external-links .field a.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.node-full.node-sheet .external-links .field a.disabled,
.node-full.node-sheet .external-links .field a[disabled],
fieldset[disabled] .node-full.node-sheet .external-links .field a {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a.node-full.node-sheet .external-links .field a.disabled,
fieldset[disabled] a.node-full.node-sheet .external-links .field a {
  pointer-events: none;
}
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  text-decoration: none;
}
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a:focus,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a:active,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.active,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a:active:hover,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.active:hover,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a:hover,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a:active:focus,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.active:focus,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a:focus,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a:active.focus,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.active.focus,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a:active,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.active,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a {
  background-image: none;
}
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.disabled,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a[disabled],
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-page-wikip-dia a,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.disabled:hover,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a[disabled]:hover,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-page-wikip-dia a:hover,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.disabled:focus,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a[disabled]:focus,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-page-wikip-dia a:focus,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.disabled.focus,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a[disabled].focus,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.focus,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.disabled:active,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a[disabled]:active,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-page-wikip-dia a:active,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.disabled.active,
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a[disabled].active,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-page-wikip-dia a.active {
  background-color: #fff;
  border-color: #ccc;
}
.node-full.node-sheet .external-links .field-name-field-page-wikip-dia a .badge {
  color: #fff;
  background-color: #333;
}
.node-full.node-sheet .external-links .field-name-field-lien-officiel a,
.node-full.node-sheet .external-links .field-name-field-autre-lien a {
  color: #fff;
  background-color: #6a5687;
  border-color: #5e4c77;
  text-decoration: none;
}
.node-full.node-sheet .external-links .field-name-field-lien-officiel a:focus,
.node-full.node-sheet .external-links .field-name-field-autre-lien a:focus,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a.focus,
.node-full.node-sheet .external-links .field-name-field-autre-lien a.focus {
  color: #fff;
  background-color: #524268;
  border-color: #211a2a;
}
.node-full.node-sheet .external-links .field-name-field-lien-officiel a:hover,
.node-full.node-sheet .external-links .field-name-field-autre-lien a:hover {
  color: #fff;
  background-color: #524268;
  border-color: #403452;
}
.node-full.node-sheet .external-links .field-name-field-lien-officiel a:active,
.node-full.node-sheet .external-links .field-name-field-autre-lien a:active,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a.active,
.node-full.node-sheet .external-links .field-name-field-autre-lien a.active,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-lien-officiel a,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-autre-lien a {
  color: #fff;
  background-color: #524268;
  border-color: #403452;
}
.node-full.node-sheet .external-links .field-name-field-lien-officiel a:active:hover,
.node-full.node-sheet .external-links .field-name-field-autre-lien a:active:hover,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a.active:hover,
.node-full.node-sheet .external-links .field-name-field-autre-lien a.active:hover,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-lien-officiel a:hover,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-autre-lien a:hover,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a:active:focus,
.node-full.node-sheet .external-links .field-name-field-autre-lien a:active:focus,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a.active:focus,
.node-full.node-sheet .external-links .field-name-field-autre-lien a.active:focus,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-lien-officiel a:focus,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-autre-lien a:focus,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a:active.focus,
.node-full.node-sheet .external-links .field-name-field-autre-lien a:active.focus,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a.active.focus,
.node-full.node-sheet .external-links .field-name-field-autre-lien a.active.focus,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-lien-officiel a.focus,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-autre-lien a.focus {
  color: #fff;
  background-color: #403452;
  border-color: #211a2a;
}
.node-full.node-sheet .external-links .field-name-field-lien-officiel a:active,
.node-full.node-sheet .external-links .field-name-field-autre-lien a:active,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a.active,
.node-full.node-sheet .external-links .field-name-field-autre-lien a.active,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-lien-officiel a,
.open > .dropdown-toggle.node-full.node-sheet .external-links .field-name-field-autre-lien a {
  background-image: none;
}
.node-full.node-sheet .external-links .field-name-field-lien-officiel a.disabled,
.node-full.node-sheet .external-links .field-name-field-autre-lien a.disabled,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a[disabled],
.node-full.node-sheet .external-links .field-name-field-autre-lien a[disabled],
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-lien-officiel a,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-autre-lien a,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a.disabled:hover,
.node-full.node-sheet .external-links .field-name-field-autre-lien a.disabled:hover,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a[disabled]:hover,
.node-full.node-sheet .external-links .field-name-field-autre-lien a[disabled]:hover,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-lien-officiel a:hover,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-autre-lien a:hover,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a.disabled:focus,
.node-full.node-sheet .external-links .field-name-field-autre-lien a.disabled:focus,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a[disabled]:focus,
.node-full.node-sheet .external-links .field-name-field-autre-lien a[disabled]:focus,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-lien-officiel a:focus,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-autre-lien a:focus,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a.disabled.focus,
.node-full.node-sheet .external-links .field-name-field-autre-lien a.disabled.focus,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a[disabled].focus,
.node-full.node-sheet .external-links .field-name-field-autre-lien a[disabled].focus,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-lien-officiel a.focus,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-autre-lien a.focus,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a.disabled:active,
.node-full.node-sheet .external-links .field-name-field-autre-lien a.disabled:active,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a[disabled]:active,
.node-full.node-sheet .external-links .field-name-field-autre-lien a[disabled]:active,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-lien-officiel a:active,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-autre-lien a:active,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a.disabled.active,
.node-full.node-sheet .external-links .field-name-field-autre-lien a.disabled.active,
.node-full.node-sheet .external-links .field-name-field-lien-officiel a[disabled].active,
.node-full.node-sheet .external-links .field-name-field-autre-lien a[disabled].active,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-lien-officiel a.active,
fieldset[disabled] .node-full.node-sheet .external-links .field-name-field-autre-lien a.active {
  background-color: #6a5687;
  border-color: #5e4c77;
}
.node-full.node-sheet .external-links .field-name-field-lien-officiel a .badge,
.node-full.node-sheet .external-links .field-name-field-autre-lien a .badge {
  color: #6a5687;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .node-full.node-sheet .external-links .field-name-field-page-wikip-dia a,
  .node-full.node-sheet .external-links .field-name-field-lien-officiel a,
  .node-full.node-sheet .external-links .field-name-field-autre-lien a {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .node-full.node-sheet .external-links .field-name-field-page-wikip-dia,
  .node-full.node-sheet .external-links .field-name-field-lien-officiel,
  .node-full.node-sheet .external-links .field-name-field-autre-lien {
    float: left;
    padding-right: 10px;
  }
}
.node-full.node-sheet .details {
  padding: 15px;
  background-color: #FFF8E3;
}
.node-full.node-sheet .details .field + .field {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.node-full.node-sheet .user-actions {
  margin: 20px 0;
  padding: 5px;
  border: 1px solid #ebb69d;
  border-radius: 3px;
  background-color: #faebe8;
}
@media screen and (max-width: 767px) {
  .node-full.node-sheet .user-actions .pull-left-sm + .pull-right-sm {
    margin-top: 5px;
  }
}
.node-full.node-sheet .field-name-field-votre-appr-ciation {
  text-align: center;
}
.node-full.node-sheet .field-name-field-votre-appr-ciation .star {
  display: inline-block;
  float: none;
}
.node-full.node-sheet .field-name-field-capture-d-cran .carousel {
  margin: 0;
}
.node-full.node-sheet .field-name-field-capture-d-cran .carousel-inner {
  padding: 0;
}
.node-full.node-logiciel-annuaires .field-name-field-os .field-items,
.node-full.node-logiciel-annuaires .field-name-field-os .field-item {
  display: inline;
  float: none;
}
.node-full.node-logiciel-annuaires .field-name-field-os .field-item:after {
  content: ' ';
}
.node-full.node-logiciel-annuaires .field-name-field-os img {
  vertical-align: baseline;
}
.node-full.node-chronique .header {
  margin-bottom: 15px;
}
.node-full.node-chronique .field-name-field-genre {
  font-size: 16px;
}
.node-full.node-chronique .field-name-body {
  margin-top: 20px;
}
.node-full.node-livre .field-name-field-image {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .node-full.node-livre .field-name-field-image {
    float: left;
    width: 40%;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .node-full.node-livre .external-links {
    clear: both;
  }
}
.node-full.node-media .field-name-field-image {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.node-full.node-media .caption {
  margin: 20px 0;
  padding: 10px;
  font-size: 12px;
  border-radius: 3px;
  background-color: #f5f5f5;
}
.node-full.node-media .field-name-field-auteur-de-l-illustration,
.node-full.node-media .field-name-field-licence-de-l-illustration {
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .node-full.node-media .field-name-field-image {
    float: right;
    width: 40%;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
.node-full.node-materiel .field-name-field-image {
  width: 100%;
  text-align: center;
}
.node-full.node-materiel .caption {
  margin: 20px 0;
  padding: 10px;
  font-size: 12px;
  border-radius: 3px;
  background-color: #f5f5f5;
}
.node-full.node-materiel .field-name-field-auteur-de-l-illustration,
.node-full.node-materiel .field-name-field-licence-de-l-illustration {
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .node-full.node-materiel .field-name-field-image {
    float: left;
    width: 40%;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.node-full.node-ressource-non-specif .field-name-field-image-cat {
  margin: 0;
}
.node-full.node-ressource-non-specif .caption {
  margin: 20px 0;
  padding: 10px;
  font-size: 12px;
  border-radius: 3px;
  background-color: #f5f5f5;
}
.node-full.node-ressource-non-specif .field-name-field-auteur-de-l-illustration,
.node-full.node-ressource-non-specif .field-name-field-licence-de-l-illustration {
  font-style: italic;
}
.node-teaser.node-sheet .node-title {
  margin-top: 0;
  margin-bottom: 5px;
}
.node-teaser.node-sheet .media {
  margin-bottom: 15px;
}
.node-teaser.node-sheet .media,
.node-teaser.node-sheet .media .media-body {
  overflow: visible;
}
.node-teaser.node-sheet .content .field {
  margin-bottom: 10px;
}
.node-teaser.node-sheet .content .field-name-body,
.node-teaser.node-sheet .content .field-name-field-r-sum-du-livre {
  margin: 15px 0;
}
.node-teaser.node-sheet footer:before,
.node-teaser.node-sheet footer:after {
  content: " ";
  display: table;
}
.node-teaser.node-sheet footer:after {
  clear: both;
}
.node-teaser.node-sheet footer:before,
.node-teaser.node-sheet footer:after {
  content: " ";
  display: table;
}
.node-teaser.node-sheet footer:after {
  clear: both;
}
.node-teaser.node-sheet footer .read-more {
  float: left;
}
.node-teaser.node-sheet footer .field-name-field-lien-officiel,
.node-teaser.node-sheet footer .flag-bookmarks {
  float: right;
  margin-left: 10px;
}
.node-teaser.node-sheet footer .field-name-field-lien-officiel a,
.node-teaser.node-sheet footer .flag-bookmarks a {
  display: block;
  width: 26px;
  height: 26px;
  margin: 2px 0;
  padding: 0;
  border: 0;
  text-align: center;
  line-height: 26px;
  background-color: transparent;
}
.node-teaser.node-sheet footer .field-name-field-lien-officiel a .glyphicon,
.node-teaser.node-sheet footer .flag-bookmarks a .glyphicon {
  font-size: 26px;
}
.node-teaser.node-sheet footer .flag-bookmarks .flag {
  color: #f36c60;
}
.node-teaser.node-sheet footer .flag-bookmarks .flag:hover,
.node-teaser.node-sheet footer .flag-bookmarks .flag:focus {
  color: #e84e40;
}
.node-teaser.node-sheet footer .flag-bookmarks .flag-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@media screen and (min-width: 768px) {
  .nodes-list .nodes-list-row .node-sheet.node-teaser {
    position: relative;
    padding-bottom: 40px;
  }
  .nodes-list .nodes-list-row .node-sheet.node-teaser footer {
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
  }
}
.node-alternative.node-logiciel-annuaires + .node {
  margin-top: 20px;
}
.node-alternative.node-logiciel-annuaires .node-title {
  margin: 0;
}
.node-alternative.node-logiciel-annuaires .media,
.node-alternative.node-logiciel-annuaires .media-body {
  overflow: visible;
}
.node-alternative.node-logiciel-annuaires .media-body .node-title,
.node-alternative.node-logiciel-annuaires .media-body .field,
.node-alternative.node-logiciel-annuaires .media-body .field-items,
.node-alternative.node-logiciel-annuaires .media-body .field-item {
  display: inline;
}
.node-alternative.node-logiciel-annuaires .media-body .node-title {
  padding-right: 20px;
}
.node-alternative.node-logiciel-annuaires .media-body .field-item img {
  vertical-align: baseline;
}
.node-alternative.node-logiciel-annuaires .media-body .field-item:after {
  content: ' ';
}
@media screen and (min-width: 768px) {
  .node-alternative.node-logiciel-annuaires {
    margin-left: 0;
    margin-right: 5.5em;
  }
}
/* Terms of the "alternatives proprios" vocabulary */
.vocabulary-alternatives-proprios.taxonomy-term-alternative {
  margin-bottom: 30px;
}
.vocabulary-alternatives-proprios.taxonomy-term-alternative .title {
  margin: 0;
}
.vocabulary-alternatives-proprios.taxonomy-term-alternative .media,
.vocabulary-alternatives-proprios.taxonomy-term-alternative .media-body {
  overflow: visible;
}
.vocabulary-alternatives-proprios.taxonomy-term-alternative .media-body .title,
.vocabulary-alternatives-proprios.taxonomy-term-alternative .media-body .field,
.vocabulary-alternatives-proprios.taxonomy-term-alternative .media-body .field-items,
.vocabulary-alternatives-proprios.taxonomy-term-alternative .media-body .field-item {
  display: inline;
}
.vocabulary-alternatives-proprios.taxonomy-term-alternative .media-body .title {
  padding-right: 20px;
}
.vocabulary-alternatives-proprios.taxonomy-term-alternative .media-body .field-item img {
  vertical-align: baseline;
}
.vocabulary-alternatives-proprios.taxonomy-term-alternative .media-body .field-item:after {
  content: ' ';
}
@media screen and (min-width: 768px) {
  .vocabulary-alternatives-proprios.taxonomy-term-alternative {
    margin-bottom: 0;
  }
}
/* Taxonomy term page */
.page-taxonomy-term .taxonomy-term-parent:before,
.page-taxonomy-term .taxonomy-term-parent:after {
  content: " ";
  display: table;
}
.page-taxonomy-term .taxonomy-term-parent:after {
  clear: both;
}
.page-taxonomy-term .taxonomy-term-parent:before,
.page-taxonomy-term .taxonomy-term-parent:after {
  content: " ";
  display: table;
}
.page-taxonomy-term .taxonomy-term-parent:after {
  clear: both;
}
.page-taxonomy-term .taxonomy-term-parent header {
  position: relative;
}
.page-taxonomy-term .taxonomy-term-parent .title {
  margin: 20px 0;
}
.page-taxonomy-term .taxonomy-term-parent .field-name-field-image-cat {
  float: left;
  margin-right: 15px;
  margin-bottom: 20px;
}
.page-taxonomy-term .taxonomy-term-parent .btn-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}
.page-taxonomy-term .taxonomy-term-children .label {
  display: inline-block;
  font-size: 90%;
  margin-bottom: 0.3em;
}
.page-taxonomy-term .no-content {
  margin-top: 30px;
  padding: 10px 15px;
  border-radius: 4px;
}
.page-taxonomy-term #framastuff-taxonomy-term-filters-form {
  margin-top: 40px;
}
.page-taxonomy-term #framastuff-taxonomy-term-filters-form .radio {
  margin-bottom: 0;
  display: inline-block;
}
.page-taxonomy-term #framastuff-taxonomy-term-filters-form .radio input {
  position: static;
  margin: 0;
  line-height: 1.42857143;
}
.page-taxonomy-term #framastuff-taxonomy-term-filters-form .radio label {
  padding-left: 0;
  padding-right: 10px;
  line-height: 1.42857143;
}
.js .page-taxonomy-term #framastuff-taxonomy-term-filters-form .form-submit {
  display: none;
}
@media (max-width: 768px) {
  .vocabulary-alternatives-proprios.taxonomy-term-alternative {
    margin-bottom: 0px;
  }
}
.comment-wrapper .title {
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 8px solid #eeeeee;
  color: #616161;
}
.comment-wrapper form.comment-form {
  margin-top: 15px;
}
.comment-wrapper .indented {
  padding-left: 15px;
  border-left: 2px solid #1290b0;
}
.comment {
  padding: 10px;
  background-color: #f5f5f5;
}
.comment .user-picture {
  max-width: 50px;
}
.comment .user-picture img {
  max-width: 100%;
}
.comment .new {
  font-style: italic;
  color: #cc2d18;
}
.comment .links {
  text-transform: lowercase;
}
@media screen and (min-width: 768px) {
  .comment .user-picture {
    max-width: none;
  }
}
.profile header {
  margin-bottom: 20px;
}
/* Extra small devices (phones) */
.region-header-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
.region-header-wrapper:before,
.region-header-wrapper:after {
  content: " ";
  display: table;
}
.region-header-wrapper:after {
  clear: both;
}
.region-header-wrapper:before,
.region-header-wrapper:after {
  content: " ";
  display: table;
}
.region-header-wrapper:after {
  clear: both;
}
.region-header-wrapper .site-identity,
.region-header-wrapper .region-header {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.region-navigation-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
.region-navigation-wrapper:before,
.region-navigation-wrapper:after {
  content: " ";
  display: table;
}
.region-navigation-wrapper:after {
  clear: both;
}
.region-navigation-wrapper:before,
.region-navigation-wrapper:after {
  content: " ";
  display: table;
}
.region-navigation-wrapper:after {
  clear: both;
}
.region-navigation-wrapper .region-navigation {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.region-navigation-wrapper .region-navigation .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
.region-content-wrapper,
.region-sidebar-first-wrapper,
.region-sidebar-second-wrapper,
.region-footer-wrapper {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
}
/* Extra small devices only (phones) */
@media screen and (max-width: 767px) {
  .region-sidebar-first-wrapper,
  .region-content-wrapper:first-child {
    margin-top: 20px;
  }
}
/* Small devices (tablets) */
@media screen and (min-width: 768px) {
  .region-header-wrapper .site-identity {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .region-header-wrapper .region-header {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .region-header-wrapper .site-identity {
    float: left;
    width: 41.66666667%;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .region-header-wrapper .region-header {
    float: left;
    width: 58.33333333%;
  }
}
/* Medium devices (desktops) */
@media screen and (min-width: 992px) {
  .region-header-wrapper .site-identity {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .region-header-wrapper .region-header {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .one-sidebar .region-sidebar-first-wrapper,
  .two-sidebars .region-sidebar-first-wrapper,
  .one-sidebar .region-sidebar-second-wrapper,
  .two-sidebars .region-sidebar-second-wrapper {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .one-sidebar .region-content-wrapper,
  .two-sidebars .region-content-wrapper,
  .one-sidebar .region-footer-wrapper,
  .two-sidebars .region-footer-wrapper {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .one-sidebar .region-footer-wrapper,
  .two-sidebars .region-footer-wrapper {
    padding-top: 30px;
  }
  .one-sidebar.sidebar-left .region-content-wrapper,
  .two-sidebars.sidebar-left .region-content-wrapper {
    float: right !important;
  }
  .one-sidebar.sidebar-left .region-sidebar-second-wrapper,
  .two-sidebars.sidebar-left .region-sidebar-second-wrapper {
    clear: left;
  }
  .one-sidebar.sidebar-left .region-footer-wrapper,
  .two-sidebars.sidebar-left .region-footer-wrapper {
    float: none;
    clear: right;
  }
  .one-sidebar.sidebar-right .region-sidebar-first-wrapper,
  .two-sidebars.sidebar-right .region-sidebar-first-wrapper,
  .one-sidebar.sidebar-right .region-sidebar-second-wrapper,
  .two-sidebars.sidebar-right .region-sidebar-second-wrapper {
    float: right !important;
  }
  .one-sidebar.sidebar-right .region-sidebar-second-wrapper,
  .two-sidebars.sidebar-right .region-sidebar-second-wrapper {
    clear: right;
  }
  .one-sidebar.sidebar-right .region-footer-wrapper,
  .two-sidebars.sidebar-right .region-footer-wrapper {
    float: none;
    clear: left;
  }
  .no-sidebars .region-content-wrapper,
  .no-sidebars .region-footer-wrapper {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 992px) and (min-width: 768px) {
  .region-header-wrapper .site-identity {
    float: left;
    width: 33.33333333%;
  }
}
@media screen and (min-width: 992px) and (min-width: 768px) {
  .region-header-wrapper .region-header {
    float: left;
    width: 66.66666667%;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .one-sidebar .region-sidebar-first-wrapper,
  .two-sidebars .region-sidebar-first-wrapper,
  .one-sidebar .region-sidebar-second-wrapper,
  .two-sidebars .region-sidebar-second-wrapper {
    float: left;
    width: 25%;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .one-sidebar .region-content-wrapper,
  .two-sidebars .region-content-wrapper,
  .one-sidebar .region-footer-wrapper,
  .two-sidebars .region-footer-wrapper {
    float: left;
    width: 75%;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .one-sidebar.sidebar-left .region-footer-wrapper,
  .two-sidebars.sidebar-left .region-footer-wrapper {
    margin-left: 25%;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .no-sidebars .region-content-wrapper,
  .no-sidebars .region-footer-wrapper {
    float: left;
    width: 100%;
  }
}
/* Large devices (large desktops) */
.region-navigation .navbar {
  min-height: 0;
  margin-bottom: 0;
  border: 0;
  background-color: transparent;
}
.region-navigation .navbar-default .navbar-nav > li > a {
  color: #fff;
  background-color: #0c5b7a;
}
.region-navigation .navbar-default .navbar-nav > li > a:hover,
.region-navigation .navbar-default .navbar-nav > li > a:focus {
  color: #0c5b7a;
  background-color: #e0e0e0;
}
.region-navigation .navbar-default .navbar-nav > li > .dropdown-menu {
  border-radius: 0;
  background-color: #f5f5f5;
}
.region-navigation .navbar-default .navbar-nav > li > .dropdown-menu a:hover {
  background-color: #e0e0e0;
}
.region-navigation .navbar-default .navbar-nav > li > .dropdown-menu .active a {
  color: #fff;
  background-color: #574778;
}
.region-navigation .navbar-default .navbar-nav > li.active > a {
  background-color: #574778;
}
.region-navigation .navbar-default .navbar-nav > li.active > a:hover,
.region-navigation .navbar-default .navbar-nav > li.active > a:focus {
  color: #6a5687;
  background-color: #e0e0e0;
}
.region-navigation .navbar-default .navbar-nav > li + li {
  border-top: 1px solid #fff;
}
.region-navigation .navbar-default .navbar-nav > li:first-child > a {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.region-navigation .navbar-default .navbar-nav > li:last-child > a {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.region-navigation .navbar-default .navbar-nav > li.open:last-child > a {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.region-navigation .navbar-default .navbar-nav > li.open:last-child .dropdown-menu {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
@media screen and (min-width: 768px) {
  .region-navigation .navbar {
    padding: 0;
  }
  .region-navigation .navbar-default .navbar-nav {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-radius: 0;
  }
  .region-navigation .navbar-default .navbar-nav > li {
    display: table-cell;
    width: 25%;
  }
  .region-navigation .navbar-default .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }
  .region-navigation .navbar-default .navbar-nav > li > .dropdown-menu {
    min-width: 100%;
    border-top: 0;
    border-color: #e0e0e0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
  }
  .region-navigation .navbar-default .navbar-nav > li + li {
    border-top: 0;
    border-left: 1px solid #fff;
  }
  .region-navigation .navbar-default .navbar-nav > li:first-child > a {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .region-navigation .navbar-default .navbar-nav > li:last-child > a {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.region-sidebar-first .block-taxonomy-menu-block .list-group,
.region-sidebar-second .block-taxonomy-menu-block .list-group {
  margin-bottom: 0;
}
.region-sidebar-first .block-taxonomy-menu-block .list-group-item,
.region-sidebar-second .block-taxonomy-menu-block .list-group-item {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  /*&:first-child a {
        .border-top-radius(4px);
      }
      &:last-child a {
        .border-bottom-radius(4px);
      }*/
}
.region-sidebar-first .block-taxonomy-menu-block .list-group-item + .list-group-item,
.region-sidebar-second .block-taxonomy-menu-block .list-group-item + .list-group-item {
  border-top: 1px solid #fff;
}
.region-sidebar-first .block-taxonomy-menu-block a,
.region-sidebar-second .block-taxonomy-menu-block a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #e0e0e0;
}
.region-sidebar-first .block-taxonomy-menu-block a:hover,
.region-sidebar-second .block-taxonomy-menu-block a:hover,
.region-sidebar-first .block-taxonomy-menu-block a:focus,
.region-sidebar-second .block-taxonomy-menu-block a:focus {
  text-decoration: none;
}
.region-sidebar-first .block-taxonomy-menu-block .sub-menu a,
.region-sidebar-second .block-taxonomy-menu-block .sub-menu a {
  padding-left: 25px;
  border-top: 1px solid #fff;
  background-color: #eeeeee;
}
.region-sidebar-first .block-taxonomy-menu-block .active > a,
.region-sidebar-second .block-taxonomy-menu-block .active > a,
.region-sidebar-first .block-taxonomy-menu-block a.active,
.region-sidebar-second .block-taxonomy-menu-block a.active {
  color: #6a5687;
}
.region-sidebar-first .block-taxonomy-menu-block a[data-toggle="collapse"],
.region-sidebar-second .block-taxonomy-menu-block a[data-toggle="collapse"] {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 10px;
  line-height: 1.42857143;
  z-index: 1;
}
.region-sidebar-first .block-taxonomy-menu-block a[data-toggle="collapse"]:before,
.region-sidebar-second .block-taxonomy-menu-block a[data-toggle="collapse"]:before {
  content: "\e259";
}
.region-sidebar-first .block-taxonomy-menu-block a[data-toggle="collapse"][aria-expanded="true"]:before,
.region-sidebar-second .block-taxonomy-menu-block a[data-toggle="collapse"][aria-expanded="true"]:before {
  content: "\e260";
}
.block .block-title {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 8px solid #eeeeee;
  color: #616161;
}
.block-aggregator ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.block-aggregator li {
  padding: 5px;
  border-bottom: 1px solid #eee;
}
.block-aggregator li:nth-child(2n) {
  background-color: #f5f5f5;
}
.block-aggregator .more-link {
  padding: 8px 5px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: right;
  font-weight: bold;
  background-color: #f5f5f5;
}
.block-framastuff .nodes-list .nodes-list-row .node {
  background-color: #ede6f5;
}
.block-framastuff .nodes-list .nodes-list-row .node + .node {
  border-left-color: #d3c5e8;
}
.region-header .block {
  margin-top: 10px;
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .region-header .block:first-child {
    margin-top: 0;
  }
  .region-header .block.collapse {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .region-header .block {
    margin-top: 0;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .region-header #block-system-user-menu {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .region-header .block {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .region-header #block-system-user-menu {
    float: left;
    width: 33.33333333%;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .region-header #block-system-user-menu {
    margin-left: 16.66666667%;
  }
}
@media screen and (min-width: 768px) {
  .region-navigation .block-taxonomy-menu-block.collapse {
    display: block;
  }
}
.region-sidebar-first .row + .block {
  margin-top: 20px;
}
.region-sidebar-first .row + .block .block-title {
  margin-top: 0;
}
@media screen and (min-width: 992px) {
  .region-sidebar-first .block-taxonomy-menu-block.collapse {
    display: block;
  }
}
.page-taxonomy-term .region-content .block:first-child .block-title {
  margin-top: 30px;
}
.page-taxonomy-term .region-content .taxonomy-term-parent + .block .block-title {
  margin-top: 10px;
}
#block-system-user-menu .nav {
  text-align: center;
}
#block-system-user-menu .nav > li > a {
  padding: 4px 8px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  #block-system-user-menu .nav {
    text-align: right;
  }
  #block-system-user-menu .nav > li {
    display: inline-block;
  }
  #block-system-user-menu .nav > li > a {
    margin-left: 6px;
  }
}
@media screen and (min-width: 992px) {
  #block-system-user-menu .nav {
    text-align: left;
  }
  #block-system-user-menu .nav > li {
    float: none;
  }
  #block-system-user-menu .nav > li + li {
    margin-top: 2px;
    margin-left: 0;
  }
  #block-system-user-menu .nav > li {
    display: block;
  }
  #block-system-user-menu .nav > li > a {
    margin: 0;
    padding: 2px 3px;
    border-radius: 0;
  }
  #block-system-user-menu .nav > li + li {
    margin: 0;
    border-top: 1px solid #e0e0e0;
  }
}
#block-framastuff-root-categories-menu .block-content {
  background-color: #f5f5f5;
}
#block-framastuff-root-categories-menu .root-categories-wrapper {
  width: 640px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#block-framastuff-root-categories-menu .root-categories-wrapper:before,
#block-framastuff-root-categories-menu .root-categories-wrapper:after {
  content: " ";
  display: table;
}
#block-framastuff-root-categories-menu .root-categories-wrapper:after {
  clear: both;
}
#block-framastuff-root-categories-menu .root-categories-wrapper:before,
#block-framastuff-root-categories-menu .root-categories-wrapper:after {
  content: " ";
  display: table;
}
#block-framastuff-root-categories-menu .root-categories-wrapper:after {
  clear: both;
}
#block-framastuff-root-categories-menu .taxonomy-term {
  float: left !important;
  position: relative;
  display: inline-block;
  margin: 10px;
  text-align: center;
  color: #0c5b7a;
  background-color: #0c5b7a;
}
#block-framastuff-root-categories-menu .taxonomy-term a {
  color: #0c5b7a;
  text-decoration: none;
}
#block-framastuff-root-categories-menu .taxonomy-term .root-term,
#block-framastuff-root-categories-menu .taxonomy-term .sub-terms {
  width: 300px;
  height: 300px;
}
#block-framastuff-root-categories-menu .taxonomy-term .root-term {
  padding: 60px 0;
}
#block-framastuff-root-categories-menu .taxonomy-term .sub-terms {
  display: none;
  position: absolute;
  top: 0;
}
#block-framastuff-root-categories-menu .taxonomy-term .close {
  position: absolute;
  right: 15px;
}
#block-framastuff-support .link-wrapper {
  text-align: center;
}
#block-framastuff-contribute .btn-wrapper {
  text-align: center;
}
#block-framastuff-contribute .actions-wrapper,
#block-framastuff-contribute .help-wrapper {
  display: table-cell;
  vertical-align: middle;
}
#block-framastuff-contribute .actions-wrapper {
  width: 100%;
  padding-right: 1em;
  border-right: 1px solid #e0e0e0;
}
#block-framastuff-contribute .help-wrapper {
  padding-left: 1em;
}
#block-framastuff-contribute .help-wrapper a {
  display: inline-block;
  font-size: 30px;
  line-height: 1;
}
#user-login-form ul {
  padding: 0;
  list-style-position: inside;
}
#user-login-form a[data-toggle="popover"] {
  float: right;
  font-size: 30px;
  line-height: 1;
}
.view-title {
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 8px solid #eeeeee;
  color: #616161;
}
.view-style-default .views-row .node {
  padding: 5px;
}
.view-style-default .views-row-even {
  background-color: #f5f5f5;
}
.view-style-default .views-field-counter {
  display: inline-block;
  font-weight: bold;
}
.view-style-default .views-field-counter .field-content:after {
  content: ".";
}
.view-style-default .views-field-counter + .views-field {
  display: inline-block;
}
#block-framastuff-search .views-exposed-form .views-exposed-widget-row {
  display: table;
  width: 100%;
}
#block-framastuff-search .views-exposed-form .views-exposed-widget {
  display: table-cell;
  float: none;
  padding: 0;
  vertical-align: top;
}
#block-framastuff-search .views-exposed-form .views-widget-filter-keys {
  width: 100%;
}
#block-framastuff-search .views-exposed-form .views-widget-filter-keys label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#block-framastuff-search .views-exposed-form .views-widget-filter-keys .form-text {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#block-framastuff-search .views-exposed-form .views-widget-button .form-submit {
  margin: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.view-recherche-par-criteres .views-exposed-form .views-exposed-widgets {
  margin-bottom: 0;
}
.view-recherche-par-criteres .views-exposed-form .views-exposed-widget-row {
  margin-left: -15px;
  margin-right: -15px;
}
.view-recherche-par-criteres .views-exposed-form .views-exposed-widget {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  padding-top: 0;
}
.view-recherche-par-criteres .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}
.view-recherche-par-criteres .views-exposed-form .panel {
  margin-bottom: 0;
}
.view-recherche-par-criteres .views-exposed-form .panel .views-exposed-widget-row:first-child .views-exposed-widget {
  margin-top: 0;
}
.view-recherche-par-criteres .views-exposed-form .panel-heading {
  padding: 5px 15px;
}
.view-recherche-par-criteres .views-exposed-form .panel-title {
  font-size: 14px;
}
.view-recherche-par-criteres .views-exposed-form .panel-title .glyphicon {
  float: right;
  line-height: normal;
}
.view-recherche-par-criteres .views-exposed-form .panel-title .glyphicon-menu-up {
  display: block !important;
}
.view-recherche-par-criteres .views-exposed-form .panel-title .glyphicon-menu-down {
  display: none !important;
}
.view-recherche-par-criteres .views-exposed-form .panel-title.collapsed .glyphicon-menu-up {
  display: none !important;
}
.view-recherche-par-criteres .views-exposed-form .panel-title.collapsed .glyphicon-menu-down {
  display: block !important;
}
.view-recherche-par-criteres .views-exposed-form .views-widget-button {
  text-align: right;
}
.view-recherche-par-criteres .views-exposed-form .form-select[multiple="multiple"] {
  min-height: 150px;
}
@media screen and (min-width: 768px) {
  .view-recherche-par-criteres .views-exposed-form .views-exposed-widget {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .view-recherche-par-criteres .views-exposed-form .views-widget-filter-keys {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .view-recherche-par-criteres .views-exposed-form .views-widget-button:first-child {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .view-recherche-par-criteres .views-exposed-form .views-exposed-widget + .views-widget-button {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .view-recherche-par-criteres .views-exposed-form .views-exposed-widget {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .view-recherche-par-criteres .views-exposed-form .views-widget-filter-keys {
    float: left;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .view-recherche-par-criteres .views-exposed-form .views-widget-button:first-child {
    float: left;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .view-recherche-par-criteres .views-exposed-form .views-exposed-widget + .views-widget-button {
    float: left;
    width: 50%;
  }
}
.view-recherche-par-criteres .view-content h2 {
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 8px solid #eeeeee;
  color: #616161;
}
.view-recherche-par-criteres .view-empty {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  margin-top: 40px;
}
.view-recherche-par-criteres .view-empty h4 {
  margin-top: 0;
  color: inherit;
}
.view-recherche-par-criteres .view-empty .alert-link {
  font-weight: bold;
}
.view-recherche-par-criteres .view-empty > p,
.view-recherche-par-criteres .view-empty > ul {
  margin-bottom: 0;
}
.view-recherche-par-criteres .view-empty > p + p {
  margin-top: 5px;
}
.view-recherche-par-criteres .view-empty hr {
  border-top-color: #a6e1ec;
}
.view-recherche-par-criteres .view-empty .alert-link {
  color: #245269;
}
.faq-question-listing,
.faq-ul-questions-top {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  margin-bottom: 0;
  list-style-position: inside;
}
.faq-question-listing h4,
.faq-ul-questions-top h4 {
  margin-top: 0;
  color: inherit;
}
.faq-question-listing .alert-link,
.faq-ul-questions-top .alert-link {
  font-weight: bold;
}
.faq-question-listing > p,
.faq-ul-questions-top > p,
.faq-question-listing > ul,
.faq-ul-questions-top > ul {
  margin-bottom: 0;
}
.faq-question-listing > p + p,
.faq-ul-questions-top > p + p {
  margin-top: 5px;
}
.faq-question-listing hr,
.faq-ul-questions-top hr {
  border-top-color: #a6e1ec;
}
.faq-question-listing .alert-link,
.faq-ul-questions-top .alert-link {
  color: #245269;
}
.faq-question {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
  color: #0c5b7a;
  font-weight: bold;
}
.faq-detailed-question {
  margin-bottom: 10px;
}
.faq-answer {
  padding: 0;
}
.faq-answer .field-name-body {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #e0e0e0;
}
.faq-answer .faq-answer-label + .field-name-body {
  margin: 0;
  padding: 0;
  border-left: 0;
}
.faq-answer .links {
  margin-top: 5px;
  text-align: right;
}
.faq-answer .links li {
  display: inline;
  padding: 0 5px 0 10px;
}
.faq-answer .links li + li {
  border-left: 1px solid #e0e0e0;
}
#framastuff-alternatives-search-form {
  display: table;
  width: 100%;
}
#framastuff-alternatives-search-form .form-item:first-child {
  width: 100%;
  padding-right: 15px;
}
.alternatives > h2 {
  margin-top: 40px;
  padding: 0.3em 0.4em 0.1em;
  border-radius: 4px;
  color: #fff;
  background-color: #0C5B7A;
}
.alternatives .row + .row {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #E3E3E3;
}
.alternatives .glyphicon-menu-right {
  font-size: 4em;
  color: #0c5b7a;
  position: absolute;
  left: 0;
}
.alternatives .altpadleft {
  padding-left: 55px;
  min-height: 56px;
}
@media (max-width: 768px) {
  .alternatives .glyphicon-menu-right {
    left: 0;
    top: 15px;
  }
  .alternatives .altpadleft {
    padding-left: 55px;
    padding-top: 15px;
  }
}
.media-object.img-responsive[typeof="foaf:Image"] {
  max-width: 70px;
}
