*, *:before, *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

/* + 52 px partout */
#workarea, #sidepanels, #tools_left {
    top:112px !important;
}
#main_button {
      top:46px !important;
}
#tools_top {
    top:44px !important;
}

#svg_source_container {
    top:92px !important;
}

#tools_rect {
    top:214px !important;
}
#tools_ellipse {
    top:248px !important;
}
#tools_line {
    top:180px !important;
}
#tools_shapelib {
    top:176px !important;
}
#ruler_corner,#ruler_x,#ruler_y {
    top:113px !important;
}

#imgbrowse {
    top: 77px;
}
/* Fix menu nav */
#framanav .dropdown-menu {
    padding : 5px 0px !important;
    left:0 !important;
    top:100% !important;
}
#framanav .dropdown-menu li {
    width:auto;
    padding:0;
    background-color:#fff;
    border:none;
}

#framanav .dropdown-menu .divider {
    background-color: rgb(229, 229, 229) !important;
}
