<div class="well">
    <h1>Dégooglisons Internet</h1>
    <p>Maquette, intégration et développement : Pierre-Yves Gosset, Christophe Masutti, Flaburgan, JosephK</p>
    <p>Carte et illustrations : Simon « Gee » Giraudot</p>

    <p>Le site utilise le framework libre Bootstrap ainsi que la librairie jQuery.</p>

    <h2>Licence</h2>
    <p>Sauf mention contraire, cette page et tous les contenus qui y figurent sont placés sous licence libre <a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons By-SA</a>.</p>
    <p>Sources :</p>
    <ul>
        <li><a href="https://wiki.framasoft.org/visuels_plm"><em>Dégooglisons Internet</em></a>, Simon « Gee » Giraudot, Creative Commons By-SA</li>
        <li><a href="https://commons.wikimedia.org/wiki/File:France_map_Lambert-93_topographic-blank.svg?uselang=fr"><em>France map Lambert-93</em></a>, Eric Gaba, GNU FDL/Creative Commons By-SA </li>
        <li><a href="https://git.framasoft.org/framasoft/degooglisons">Dépôt git</a></li>
    </ul>
</div>
