.block {
  .block-title {
    .title();
  }
}

.block-aggregator {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    padding: 5px;
    border-bottom: 1px solid #eee;
    &:nth-child(2n) {
      background-color: #f5f5f5;
    }
  }
  .more-link {
    padding: 8px 5px;
    .border-bottom-radius(4px);
    .text-right();
    font-weight: bold;
    background-color: #f5f5f5;
  }
}

.block-framastuff {
  .nodes-list {
    .nodes-list-row {
      .node {
        background-color: #ede6f5;
        & + .node {
          border-left-color: #d3c5e8; //#b49cd9;
        }
      }
    }
  }
}

.region-header {
  .block {
    margin-top: 10px;
    .make-xs-column(12);
  }

  @media @tablet {
    .block:first-child {
      margin-top: 0;
    }
    .block.collapse {
      display: block;
    }
  }

  @media @normal {
    .block {
      margin-top: 0;
      .make-md-column(6);
    }
    #block-system-user-menu {
      .make-md-column(4);
      .make-md-column-offset(2);
    }
  }
}

.region-navigation {
  @media @tablet {
    .block-taxonomy-menu-block.collapse {
      display: block;
    }
  }
}

.region-sidebar-first {
  .row + .block {
    margin-top: 20px;
    .block-title {
      margin-top: 0;
    }
  }
  @media @normal {
    .block-taxonomy-menu-block.collapse {
      display: block;
    }
  }
}

.page-taxonomy-term {
  .region-content {
    .block:first-child .block-title {
      margin-top: 30px;
    }
    .taxonomy-term-parent + .block .block-title {
      margin-top: 10px;
    }
  }
}


#block-system-user-menu {
  .nav {
    .text-center();
    & > li > a {
      padding: 4px 8px;
      border-radius: 4px;
    }
  }

  @media @tablet {
    .nav {
      .text-right();
      & > li {
        display: inline-block;
        & > a {
          margin-left: 6px;
        }
      }
    }
  }

  @media @normal {
    .nav {
      .nav-stacked();
      .text-left();
      & > li {
        display: block;
        & > a {
          margin: 0;
          padding: 2px 3px;
          border-radius: 0;
        }
        & + li {
          margin: 0;
          border-top: 1px solid #e0e0e0;
        }
      }
    }
  }
}

#block-framastuff-root-categories-menu {
  .block-content {
    background-color: #f5f5f5;
  }

  .root-categories-wrapper {
    width: 640px;
    .center-block();
    .clearfix();
  }

  .taxonomy-term {
    .pull-left();

    position: relative;
    display: inline-block;
    margin: 10px;
    text-align: center;
    color: @brand-secondary;
    background-color: @brand-secondary;

    a {
      color: @brand-secondary;
      text-decoration: none;
    }

    .root-term,
    .sub-terms {
      width: 300px;
      height: 300px;
    }

    .root-term {
      padding: 60px 0;
    }

    .sub-terms {
      display: none;
      position: absolute;
      top: 0;
    }

    .close {
      position: absolute;
      right: 15px;
    }
  }
}

#block-framastuff-support {
  .link-wrapper {
    text-align: center;
  }
}

#block-framastuff-contribute {
  .btn-wrapper {
    text-align: center;
  }
  .actions-wrapper,
  .help-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  .actions-wrapper {
    width: 100%;
    padding-right: 1em;
    border-right: 1px solid #e0e0e0;
  }
  .help-wrapper {
    padding-left: 1em;
    a {
      display: inline-block;
      font-size: 30px;
      line-height: 1;
    }
  }
}