.comment-wrapper {
  .title {
    .title(40px);
  }

  form.comment-form {
    margin-top: 15px;
  }

  .indented {
    padding-left: 15px;
    border-left: 2px solid #1290b0;
  }
}

.comment {
  padding: 10px;
  background-color: #f5f5f5;

  .user-picture {
    max-width: 50px;
    img {
      max-width: 100%;
    }
  }

  .new {
    font-style: italic;
    color: #cc2d18;
  }

  .links {
    text-transform: lowercase;
  }

  @media @tablet {
    .user-picture {
      max-width: none;
    }
  }
}