.faq-question-listing,
.faq-ul-questions-top {
  .alert();
  .alert-info();
  margin-bottom: 0;
  list-style-position: inside;
}

.faq-question {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
  color: @brand-secondary;
  font-weight: bold;
}
.faq-detailed-question {
  margin-bottom: 10px;
}

.faq-answer {
  padding: 0;
  .field-name-body {
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    border-left: 1px solid #e0e0e0;
  }
  .faq-answer-label + .field-name-body {
    margin: 0;
    padding: 0;
    border-left: 0;
  }
  .links {
    margin-top: 5px;
    text-align: right;
    li {
      display: inline;
      padding: 0 5px 0 10px;
      & + li {
        border-left: 1px solid #e0e0e0;
      }
    }
  }
}