.region-header-wrapper {
  position: relative;
  .logo, .name {
    display: inline-block;
  }
  .logo {
    margin: 0 15px 15px 0;
  }
  .name {
    position: relative;
    z-index: 2;
    text-decoration: none;
  }
  h1 {
    margin: 0;
    font-size: @font-size-h3;
  }
  .lead {
    .hidden();
  }

  .toggle-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 (@grid-gutter-width / 2);
    z-index: 1;
    .toggle-navigation {
      .pull-left();
    }
    .toggle-search,
    .toggle-user-menu {
      .pull-right();
    }
    .glyphicon {
      font-size: 1.3em;
      line-height: inherit;
    }
    button {
      color: #3E3363;
      border: 1px solid #949494;
      border-radius: 4px;
      background-color: white;
      & + button {
        margin-left: 4px;
      }
    }
  }

  .site-identity {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media @tablet {
  .region-header-wrapper {
    margin-bottom: 30px;
    .lead {
      margin-top: 10px;
      font-size: 16px;
    }
    h1 {
      font-size: @font-size-h1;
    }
    .lead {
      .show();
      font-style: italic;
      color: #666;
    }
    .site-identity {
      margin-bottom: 0;
      text-align: left;
    }
  }
}