.region-navigation {
  .navbar {
    min-height: 0;
    margin-bottom: 0;
    border: 0;
    background-color: transparent;
  }
  .navbar-default {
    .navbar-nav > li {
      & > a {
        color: #fff;
        background-color: @brand-secondary;
        &:hover, &:focus {
          color: @brand-secondary;
          background-color: #e0e0e0;
        }
      }
      & > .dropdown-menu {
        border-radius: 0;
        background-color: #f5f5f5;
        a:hover {
          background-color: #e0e0e0;
        }
        .active a {
          color: #fff;
          background-color: #574778;
        }
      }
      &.active > a {
        background-color: #574778;
        &:hover, &:focus {
          color: @brand-primary;
          background-color: #e0e0e0;
        }
      }
      & + li {
        border-top: 1px solid #fff;
      }
      &:first-child > a {
        .border-top-radius(4px);
      }
      &:last-child > a {
        .border-bottom-radius(4px);
      }
      &.open:last-child {
        & > a {
          .border-bottom-radius(0);
        }
        .dropdown-menu {
          .border-bottom-radius(4px);
        }
      }
    }
  }

  @media @tablet {
    .navbar {
      padding: 0;
    }
    .navbar-default {
      .navbar-nav {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-radius: 0;
      }
      .navbar-nav > li {
        display: table-cell;
        width: 25%;
        & > a {
          padding-top: 10px;
          padding-bottom: 10px;
          font-weight: bold;
          text-align: center;
        }
        & > .dropdown-menu {
          min-width: 100%;
          border-top: 0;
          border-color: #e0e0e0;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
          background-color: #fff;
        }
        & + li {
          border-top: 0;
          border-left: 1px solid #fff;
        }
        &:first-child > a {
          .border-top-radius(0);
        }
        &:last-child > a {
          .border-bottom-radius(0);
        }
      }
    }
  }
}

.region-sidebar-first,
.region-sidebar-second {
  .block-taxonomy-menu-block {
    .list-group {
      margin-bottom: 0;
    }

    .list-group-item {
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      & + .list-group-item {
        border-top: 1px solid #fff;
      }
      /*&:first-child a {
        .border-top-radius(4px);
      }
      &:last-child a {
        .border-bottom-radius(4px);
      }*/
    }

    a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      background-color: #e0e0e0;
      &:hover, &:focus {
        text-decoration: none;
      }
    }

    .sub-menu a {
      padding-left: 25px;
      border-top: 1px solid #fff;
      background-color: #eeeeee;
    }

    .active > a, a.active {
      color: @brand-primary;
    }

    a[data-toggle="collapse"] {
      .glyphicon();
      .glyphicon-menu-down();

      position: absolute;
      top: 0;
      right: 0;
      padding: 9px 10px;
      line-height: @line-height-base;
      z-index: 1;

      &[aria-expanded="true"] {
        .glyphicon-menu-up();
      }
    }
  }
}