// Alternatives page
#framastuff-alternatives-search-form {
  display: table;
  width: 100%;
  .form-item {
    &:first-child {
      width: 100%;
      padding-right: 15px;
    }
  }
}
.alternatives {
  & > h2 {
    margin-top: 40px;
    padding: 0.3em 0.4em 0.1em;
    border-radius: 4px;
    color: #fff;
    background-color: #0C5B7A;
  }
  .row {
    & + .row {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #E3E3E3;
    }
  }
  .glyphicon-menu-right {
    font-size: 4em;
    color: @brand-secondary;
    position: absolute;
    left: 0;
  }

  .altpadleft{
    padding-left: 55px;
    min-height: 56px;
  }
}

@media (max-width: 768px) {
  .alternatives {
    .glyphicon-menu-right {
      left: 0;
      top: 15px;
    }

    .altpadleft{
      padding-left: 55px;
      padding-top: 15px;
    }
  }
}