.title(@margin-top: 30px) {
  margin-top: @margin-top;
  padding-bottom: @padding-large-vertical;
  border-bottom: 8px solid @gray-lighter;
  color: #616161;
}

.clear-before() {
  &:before {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}

.clear-after() {
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}