.nodes-list {
  .nodes-list-row {
    .node {
      padding: 10px 15px;
      background-color: #f5f5f5;
      & + .node {
        border-top: 1px solid #e0e0e0;
      }
    }
    .nodes-list-empty-item {
      display: none;
    }
    & + .nodes-list-row {
      border-top: 1px solid #e0e0e0;
    }
  }
}

@media @tablet {
  .nodes-list {
    .nodes-list-row {
      display: table;
      width: 100%;
      table-layout: fixed;
      & + .nodes-list-row {
        margin-top: 15px;
        border-top: 0;
      }
      .node {
        display: table-cell;
        width: 33.33%;
        padding: 10px 15px;
        background-color: #f5f5f5;
        & + .node {
          border-top: 0;
          border-left: 1px solid #e0e0e0;
        }
      }
      .nodes-list-empty-item {
        display: table-cell;
        width: 33.33%;
        background-color: transparent;
      }
    }
  }
}