.node-full {
  /* All sheets */
  &.node-sheet {
    .header {
      margin-bottom: 20px;
      .media-left .media-object {
        margin-right: 20px;
      }
    }
    .page-header {
      margin-bottom: 10px;
      padding-bottom: 5px;
    }
    .node-title {
      margin: 0;
    }

    .field-name-body,
    .field-name-field-r-sum-du-livre {
      margin-top: 20px;
    }
    @media @tablet {
      .field-name-body,
      .field-name-field-r-sum-du-livre {
        margin-top: 0;
      }
    }

    .field-name-field-tags {
      margin: 15px 0;
      a {
        font-style: italic;
        text-decoration: none;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
      .glyphicon {
        vertical-align: middle;
      }
    }

    .field-name-field-image img,
    .field-name-field-image-cat img {
      max-width: 100%;
      height: auto;
    }

    .external-links {
      margin: 10px 0 20px;
      .field a {
        .btn();
        margin-top: 10px;
      }
      .field-name-field-page-wikip-dia {
        a {
          .btn-default();
          text-decoration: none;
        }
      }
      .field-name-field-lien-officiel,
      .field-name-field-autre-lien {
        a {
          .btn-primary();
          text-decoration: none;
        }
      }
      @media @phone-only {
        .field-name-field-page-wikip-dia,
        .field-name-field-lien-officiel,
        .field-name-field-autre-lien {
          a { .btn-block(); }
        }
      }
      @media @tablet {
        .field-name-field-page-wikip-dia,
        .field-name-field-lien-officiel,
        .field-name-field-autre-lien {
          float: left;
          padding-right: 10px;
        }
      }
    }

    .details {
      padding: 15px;
      background-color: #FFF8E3;
      .field + .field {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #ddd;
      }
    }

    .user-actions {
      margin: 20px 0;
      padding: 5px;
      border: 1px solid #ebb69d;
      border-radius: 3px;
      background-color: #faebe8;
      @media @phone-only {
        .pull-left-sm + .pull-right-sm {
          margin-top: 5px;
        }
      }
    }

    .field-name-field-votre-appr-ciation {
      text-align: center;
      .star {
        display: inline-block;
        float: none;
      }
    }

    .field-name-field-capture-d-cran {
      .carousel {
        margin: 0;
      }
      .carousel-inner {
        padding: 0;
      }
    }

    /*.flag-bookmarks {
      .flag {
        display: inline-block;
        font-size: 30px;
        line-height: 1;
        text-align: center;
        vertical-align: middle;
      }
    }*/
  }

  /* Logiciels */
  &.node-logiciel-annuaires {
    .field-name-field-os {
      .field-items, .field-item {
        display: inline;
        float: none;
      }
      .field-item:after {
        content: ' ';
      }
      img {
        vertical-align: baseline;
      }
    }
  }

  /* Chroniques */
  &.node-chronique {
    .header {
      margin-bottom: 15px;
    }
    .field-name-field-genre {
      font-size: 16px;
    }
    .field-name-body {
      margin-top: 20px;
    }
  }

  /* Articles de revue, blog, journal... */
  &.node-art-revueblogchapitrejournal {

  }

  /* Livres */
  &.node-livre {
    .field-name-field-image {
      width: 100%;
      text-align: center;
    }

    @media @tablet {
      .field-name-field-image {
        float: left;
        width: 40%;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .external-links {
        clear: both;
      }
    }
  }

  /* Médias */
  &.node-media {
    .field-name-field-image {
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }

    .caption {
      margin: 20px 0;
      padding: 10px;
      font-size: @font-size-small;
      border-radius: 3px;
      background-color: #f5f5f5;
    }

    .field-name-field-auteur-de-l-illustration,
    .field-name-field-licence-de-l-illustration {
      font-style: italic;
    }

    @media @tablet {
      .field-name-field-image {
        float: right;
        width: 40%;
        margin-top: 0;
        margin-left: 20px;
        margin-bottom: 20px;
      }
    }
  }

  /* Matériel */
  &.node-materiel {
    .field-name-field-image {
      width: 100%;
      text-align: center;
    }

    .caption {
      margin: 20px 0;
      padding: 10px;
      font-size: @font-size-small;
      border-radius: 3px;
      background-color: #f5f5f5;
    }

    .field-name-field-auteur-de-l-illustration,
    .field-name-field-licence-de-l-illustration {
      font-style: italic;
    }

    @media @tablet {
      .field-name-field-image {
        float: left;
        width: 40%;
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
  }

  /* Ressources non spécifiques */
  &.node-ressource-non-specif {
    .field-name-field-image-cat {
      margin: 0;
    }

    .caption {
      margin: 20px 0;
      padding: 10px;
      font-size: @font-size-small;
      border-radius: 3px;
      background-color: #f5f5f5;
    }

    .field-name-field-auteur-de-l-illustration,
    .field-name-field-licence-de-l-illustration {
      font-style: italic;
    }
  }
}

.node-teaser {
  &.node-sheet {
    .node-title {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .media {
      margin-bottom: 15px;
      &, .media-body {
        overflow: visible;
      }
    }
    .content {
      .field {
        margin-bottom: 10px;
      }
      .field-name-body,
      .field-name-field-r-sum-du-livre {
        margin: 15px 0;
      }
    }
    footer {
      .clearfix();
      .read-more {
        float: left;
      }
      .field-name-field-lien-officiel,
      .flag-bookmarks {
        float: right;
        margin-left: 10px;
        a {
          display: block;
          width: 26px;
          height: 26px;
          margin: 2px 0;
          padding: 0;
          border: 0;
          text-align: center;
          line-height: 26px;
          background-color: transparent;
          .glyphicon {
            font-size: 26px;
          }
        }
      }
      .flag-bookmarks {
        .flag {
          color: #f36c60;
          &:hover, &:focus {
            color: #e84e40;
          }
        }
        .flag-link-text {
          .sr-only();
        }
      }
    }
  }
}
@media @tablet {
  .nodes-list {
    .nodes-list-row {
      .node-sheet.node-teaser {
        position: relative;
        padding-bottom: 40px;
        footer {
          position: absolute;
          bottom: 10px;
          left: 15px;
          right: 15px;
        }
      }
    }
  }
}

.node-alternative {
  &.node-logiciel-annuaires {
    & + .node {
      margin-top: 20px;
    }
    .node-title {
      margin: 0;
    }
    .media, .media-body {
      overflow: visible;
    }
    .media-body {
      .node-title, .field, .field-items, .field-item {
        display: inline;
      }
      .node-title {
        padding-right: 20px;
      }
      .field-item {
        img {
          vertical-align: baseline;
        }
        &:after {
          content: ' ';
        }
      }
    }

    @media @tablet {
      margin-left: 0;
      margin-right: 5.5em;
    }
  }
}