// Bootstrap variables.
@import 'variables.less';

// Media query variables.
@phone-only: ~"screen and (max-width: @{screen-xs-max})";
@tablet:  ~"screen and (min-width: @{screen-sm-min})";
@normal:  ~"screen and (min-width: @{screen-md-min})";
@wide:    ~"screen and (min-width: @{screen-lg-min})";

// Drop shadows.
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

html {
  height: 100%;
  &.overlay-open .navbar-fixed-top {
    z-index: 400;
  }
  &.js {
    // Collapsible fieldsets.
    fieldset.collapsed {
     height: auto;
    }
    // Throbbers.
    input.form-autocomplete {
      background-image: none;
    }
  }
}
body {
  min-height: 100%;
  background-color: #fff;
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;
  &.admin-expanded.admin-vertical.admin-nw .navbar,
  &.admin-expanded.admin-vertical.admin-sw .navbar {
    margin-left: 260px;
  }
  // Add padding to body if various toolbar or navbars are fixed on top.
  &.navbar-is-fixed-top {
    padding-top: 64px !important;
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: 64px !important;
  }
  &.toolbar {
    padding-top: 30px !important;
    .navbar-fixed-top {
      top: 30px;
    }
    &.navbar-is-fixed-top {
      padding-top: 94px !important;
    }
  }
  &.toolbar-drawer {
    padding-top: 64px !important;
    .navbar-fixed-top {
      top: 64px;
    }
    &.navbar-is-fixed-top {
      padding-top: 128px !important;
    }
  }
  // Admin_menu toolbar.
  &.admin-menu {
    margin-top: 0 !important;
    padding-top: 20px;
    .navbar-fixed-top {
      top: 29px;
    }
    &.navbar-is-fixed-top {
      padding-top: 93px !important;
    }
  }

  @media @phone-only {
    .ombre {
      box-shadow: none;
    }
  }
  @media @tablet {
    background-color: @gray-lighter;
  }

  div#admin-toolbar {
    z-index: 1600;
  }
  // Override box-shadow styles on all "admin" menus.
  #toolbar, #admin-menu, #admin-toolbar {
    .box-shadow(none);
  }
  // Override #admin-menu style.
  #admin-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1600;
    .dropdown li {
      line-height: normal;
    }
  }
  .main-container {
    padding: 15px 15px 40px;

    @media @tablet {
      height: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 30px 30px 40px;
    }

    & > .row {
      position: relative;
    }
  }
}

// Default navbar.
.navbar.container {
  @media @tablet {
    max-width: ((@container-sm - 30px));
  }
  @media @normal {
    max-width: ((@container-md - 30px));
  }
  @media @wide {
    max-width: ((@container-lg - 30px));
  }
  margin-top: 20px;
  > .container {
    margin: 0;
    padding: 0;
    width: auto;
  }
}

// Adjust z-index of core components.
#overlay-container,
.overlay-modal-background,
.overlay-element {
  z-index: 1500;
}
#toolbar {
  z-index: 1600;
}
// Adjust z-index of bootstrap modals
.modal {
  z-index: 1620;
}
.modal-dialog {
  z-index: 1630;
}
.modal-backdrop {
  z-index: 1610;
}
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Anchors
a {
  text-decoration: none;
}

// Element invisible fix
.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}

// Branding.
.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  @media @tablet {
    margin-right: 0;
    padding-left: 0;
  }
}

// Navigation.
ul.secondary {
  float: left;
  @media @tablet {
    float: right;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}
.front .page-header {
  // .sr-only();
}

// Blocks
.block {
  &:first-child .block-title {
    margin-top: 0;
  }
}

// Paragraphs.
p:last-child {
  margin-bottom: 0;
}

// Labels
.label {
  padding: .3em .6em;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: @font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

// Search form.
form#search-block-form {
  margin: 0;
}
.navbar #block-search-form {
  float: none;
  margin: 5px 0 5px 5px;
  @media @normal {
    float: right;
  }
}
.navbar-search .control-group {
  margin-bottom:0px;
}

// Action Links
ul.action-links {
  margin: @padding-base-horizontal 0;
  padding: 0;
  li {
    display: inline;
    margin: 0;
    padding: 0 @padding-base-vertical 0 0;
  }
  .glyphicon {
    padding-right: 0.5em;
  }
}

// Form elements.
input, textarea, select, .uneditable-input {
  max-width: 100%;
  width: auto;
}
input.error {
  color: @state-danger-text;
  border-color: @state-danger-border;
}
fieldset legend.panel-heading {
  float: left;
  margin: 0;
}
fieldset .panel-body {
  clear: both;
}
fieldset .panel-heading a.panel-title {
  color: inherit;
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
  &:hover {
    text-decoration: none;
  }
}
.form-actions{
  clear: both;
}
.resizable-textarea textarea {
  border-radius: @border-radius-base @border-radius-base 0 0;
}
.radio, .checkbox {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.help-block, .control-group .help-inline {
  color: @gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
}
.panel-heading {
  display: block;
}
a.tabledrag-handle .handle {
  height: auto;
  width: auto;
}

// Error containers.
.error {
  color: @state-danger-text;
}
div.error,
table tr.error {
  background-color: @state-danger-bg;
  color: @state-danger-text;
}
.control-group.error {
  background: none;
  label, .control-label {
    color: @state-danger-text;
    font-weight: 600;
  }
  input, textarea, select, .uneditable-input {
    color: @input-color;
    border: 1px solid @input-border;
  }
  .help-block, .help-inline {
    color: @text-color;
  }
}

// Lists
/*.list-inline {
  > li.first {
    padding-left: 0;
  }
}*/
.nav-tabs {
  margin-bottom: 10px;
}
ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
  list-style-image: none;
}
.tabs--secondary {
  margin: 0 0 10px;
}

// Submitted
.submitted {
  margin-bottom: 1em;
  font-weight: normal;
  color: #777;
}

// Password strength indicator.
.password-strength {
  width: 17em;
  float: right;  /* LTR */
  margin-top: 1.4em;
}
.password-strength-title {
  display: inline;
}
.password-strength-text {
  float: right; /* LTR */
  font-weight: bold;
}
.password-indicator {
  background-color: darken(@input-color-placeholder, 2%);
  height: 0.3em;
  width: 100%;
  div {
    height: 100%;
    width: 0%;
    background-color: @input-color-placeholder;
  }
}
input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}
div.password-confirm {
  float: right;  /* LTR */
  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}
div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #B4B4B4;
}
div.password-suggestions ul {
  margin-bottom: 0;
}
.confirm-parent,
.password-parent {
  clear: left; /* LTR */
  margin: 0;
  width: 36.3em;
}

// Progress bar.
.progress-wrapper .progress {
  margin-bottom: 10px;
}

// Views AJAX pager.
.pagination ul > li > a,
.pagination ul > li > span {
  &.progress-disabled {
    float: left;
  }
}
.pagination > .disabled > span {
  float: none;
  padding: 2px 5px;
  border: 0 none;
  background-color: transparent;
}

// Autocomplete and throbber
.form-autocomplete {
  .glyphicon {
    color: @gray-light;
    font-size: 120%;
    &.glyphicon-spin {
      color: @brand-primary;
    }
  }
  .input-group-addon {
    background-color: rgb(255, 255, 255);
  }
}

// AJAX "Throbber".
.ajax-progress {
  .glyphicon {
    font-size: 90%;
    margin: 0 -.25em 0 0.5em;
  }
}

.glyphicon-spin {
  display: inline-block;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
a .glyphicon-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.glyphicon-refresh {
  -webkit-transform-origin: 50% 45%;
  -moz-transform-origin: 50% 45%;
  -ms-transform-origin: 50% 45%;
  -o-transform-origin: 50% 45%;
  transform-origin: 50% 45%;
}

/**
 * Missing Bootstrap 2 tab styling.
 * @see http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
 * @see http://bootply.com/74926
 */
.tabbable {
  margin-bottom: 20px;
}
.tabs-below, .tabs-left, .tabs-right {
  > .nav-tabs {
    border-bottom: 0;
    .summary {
      color: @nav-disabled-link-color;
      font-size: @font-size-small;
    }
  }
}
.tab-pane > .panel-heading {
  display: none;
}
.tab-content > .active {
  display: block;
}

// Below.
.tabs-below {
  > .nav-tabs {
    border-top: 1px solid @nav-tabs-border-color;
    > li {
      margin-top: -1px;
      margin-bottom: 0;
      > a {
        border-radius: 0 0 @border-radius-base @border-radius-base;
        &:hover,
        &:focus {
          border-top-color: @nav-tabs-border-color;
          border-bottom-color: transparent;
        }
      }
    }
    > .active {
      > a,
      > a:hover,
      > a:focus {
        border-color: transparent @nav-tabs-border-color @nav-tabs-border-color @nav-tabs-border-color;
      }
    }
  }
}

// Left and right tabs.
.tabs-left,
.tabs-right {
  > .nav-tabs {
    padding-bottom: 20px;
    width: 220px;
    > li {
      float: none;
      &:focus {
        outline: 0;
      }
      > a {
        margin-right: 0;
        margin-bottom: 3px;
        &:focus {
          outline: 0;
        }
      }
    }
  }
  > .tab-content {
    border-radius: 0 @border-radius-base @border-radius-base @border-radius-base;
    .box-shadow(0 1px 1px rgba(0,0,0,.05));
    border: 1px solid @nav-tabs-border-color;
    overflow: hidden;
    padding: 10px 15px;
  }
}

// Left tabs.
.tabs-left {
  > .nav-tabs {
    float: left;
    margin-right: -1px;
    > li > a {
      border-radius: @border-radius-base 0 0 @border-radius-base;
      &:hover,
      &:focus {
        border-color: @nav-tabs-link-hover-border-color @nav-tabs-border-color @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color;
      }
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-color: @nav-tabs-border-color transparent @nav-tabs-border-color @nav-tabs-border-color;
      .box-shadow(-1px 1px 1px rgba(0,0,0,.05));
    }
  }
}

// Right tabs.
.tabs-right {
  > .nav-tabs {
    float: right;
    margin-left: -1px;
    > li > a {
      border-radius: 0 @border-radius-base @border-radius-base 0;
      &:hover,
      &:focus {
        border-color: @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-border-color;
        .box-shadow(1px 1px 1px rgba(0,0,0,.05));
      }
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-color: @nav-tabs-border-color @nav-tabs-border-color @nav-tabs-border-color transparent;
    }
  }
}

// Checkbox cell fix.
th.checkbox,
td.checkbox,
th.radio,
td.radio {
  display: table-cell;
}

// Views UI fixes.
.views-display-settings {
  .label {
    font-size: 100%;
    color:#666666;
  }
  .footer {
    padding:0;
    margin:4px 0 0 0;
  }
}

// Radio and checkbox in table fixes
table {
  .radio input[type="radio"],
  .checkbox input[type="checkbox"] {
    max-width: inherit;
  }
}

// Exposed filters
.form-horizontal .form-group label {
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-left:  (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
  text-align: right;

  @media (min-width: @screen-sm-min) {
    float: left;
    width: percentage((2 / @grid-columns));
  }
}

// Treat all links inside alert as .alert-link
.alert a {
  font-weight: @alert-link-font-weight;
}
.alert-success a {
  color: darken(@alert-success-text, 10%);
}
.alert-info a {
  color: darken(@alert-info-text, 10%);
}
.alert-warning a {
  color: darken(@alert-warning-text, 10%);
}
.alert-danger a {
  color: darken(@alert-danger-text, 10%);
}

// Breadcrumb
.breadcrumb {
  padding: 7px 15px;
  background-color: #eee;
}

// Button
.btn {
  white-space: normal;
}

// Media
// Margin on .media-object instead of padding on .media-left or .media-right:
// no useless padding in case there's no media object.
.media-left,
.media-right,
.media > .pull-left,
.media > .pull-right {
  padding: 0;
}
.media-left .media-object {
  margin-right: 15px;
}
.media-right .media-object {
  margin-left: 15px;
}


// Pagination
.pagination {
  position: relative;
  display: block;
  margin: 30px 0;
  padding: 3px 0;
  text-align: center;
  background-color: #eee;
  & > li > a {
    float: none;
    padding: 2px 5px;
    border: 0 none;
    background-color: transparent;
  }
  & > .active > a,
  & > .active > span {
    border-radius: 3px !important;
  }
  & > li:first-child > a,
  & > li:last-child > a {
    border-radius: 3px;
  }
  .prev {
    position: absolute;
    left: 0;
    padding-left: 10px;
  }
  .next {
    position: absolute;
    right: 0;
    padding-right: 10px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.nav-tabs {
  border: none;
  margin-bottom: 20px;

  li {
    border-radius: 0;

    a {
      border-radius: 4px;
      font-size: 15px;
    }
  }

  > li.active, li:hover {
    > a, a:hover, a:focus {
        color: #fff;
        background-color: #6A5687;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: pointer;
      }
    }
}

.table {
  thead {
    tr {
      th {
        border-bottom: 1px solid #ddd;
        background-color: #fff;
      }
    }
  }

  tr {
    td.views-field {
      padding: 10px;
    }
  }

  tr.even {
    background-color: #eee;
  }
}

.view-filters {
  background-color: #bdbdbd;
  padding: 10px;
  margin-bottom: 20px;
}

.view-chroniques-du-contributeur, .view-flag-bookmarks-tab {
  .inter-col {
    margin: 0 0 30px 0;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #fff;
    // box-shadow: -2px 3px 6px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);

    .views-field-title {
      text-transform: uppercase;
      padding-bottom: 5px;

      a {
        color: #616161;
        font-weight: bold;
      }
    }

    .views-field-field-image {
      width: auto;
      display: block;
      float: left;
      margin: 0 15px 5px 0;
    }

    .views-field-name, .views-field-created, .views-field-type, .views-field-field-annuaires {
      span, div {
        font-size: 10px;
        display: inline;
      }
    }

    .views-field-comment-count {
      border-top: 2px solid #fff;

      span {
        font-size: 10px;
      }
    }

    .views-field-body {
      padding: 5px 0;
    }
  }

  .views-row:hover {
    opacity: 0.8;
  }
}

.field-name-field-tags {
  .field-item {
    a {
      .label();
      .label-info();
    }
  }
}

.page-user{
  .page-header{
    .field-name-field-profession{
      .field-label{
        display: none;
      }

      .field-item{
        color: #848484;
        font-size: 18px;
        font-style: italic;
      }
    }
  }

  .user-infos{
    margin-bottom: 15px;

    .user-infos-links{
      margin-top: 10px;
    }
  }

  .node-simple_teaser{
    margin-bottom: 15px;
    border: 2px solid #eeeeee;
    padding: 0px 10px 5px 10px;

    h2{
      font-size: 24px;
    }

    .group-right{
      width:30%;
      text-align: center;

      img{
        margin-top: 20px;
      }
    }

    .group-left{
      width: 70%;

      .field-name-field-annuaires{
        margin: 7px 0;

        .field-label{
          display: none;
        }
      }

      .flag-bookmarks{
        margin-top: 10px;
        display: block;
      }

      .fivestar-summary{
        display: none;
      }

      .field-type-fivestar{
        display: inline-block;
      }
    }
  }

  .media:first-child{
    margin-bottom: 25px;
  }
}

.page-user-contact{
  .form-type-checkbox{
    #edit-copy{
      margin-left: 0;
    }

    label{
      padding-left: 25px;
      padding-top: 2px;
    }
  }
}

.not-logged-in{
  .view-flag-bookmarks-tab{
    th.views-field-ops, td.views-field-ops{
      display: none;
    }
  }
}

#block-framastuff-novelties-sidebar{
 .block-content{
  .nodes-list{
    .nodes-list-row{
      margin-top: 0;

      .node{
        display: block;
        width: 100%;
        border-top: 3px solid #fff;
        padding-bottom: 10px;
        background-color: #eee;
        min-height: 70px;
        position: relative;
        overflow: hidden;
        word-wrap: break-word;

        .submitted, .user-picture{
          display: none;
        }

        h2.node-title{
          font-size: 14px;
          margin: 0;
        }

        h2.node-title, .field-name-field-annuaires{
          padding-left: 60px;
        }

        img{
          position: absolute;
          top:10px;
        }

        & + .node {
          border-left: 0;
        }
      }

      .nodes-list-empty-item{
        display: none;
      }
    }
  }
 }
}

.view-top-s-informer{
  .view-content{
    .views-row{
      display: block;
      width: 100%;
      border-top: 3px solid #fff;
      padding: 5px;
      background-color: #eee;

      .views-field-title{
        a{
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .page-user{
    .node-simple_teaser{
      .group-right{
        padding-left: 15px;
        width: 50%;
      }

      .group-left{
        width: 50%;
      }
    }
  }
}

@media (max-width: 768px) {
  .view-chroniques-du-contributeur, .view-flag-bookmarks-tab {
    .views-row {
      min-height: 0;
    }
  }
}

.media-object.img-responsive[typeof="foaf:Image"] {
  max-width: 70px;
}
