/* Extra small devices (phones) */
.region-header-wrapper {
  .make-row();
  .clearfix();

  .site-identity,
  .region-header {
    .make-xs-column(12);
  }
}
.region-navigation-wrapper {
  .make-row();
  .clearfix();
  .region-navigation {
    .make-xs-column(12);
    .navbar-nav {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
.region-content-wrapper,
.region-sidebar-first-wrapper,
.region-sidebar-second-wrapper,
.region-footer-wrapper {
  .make-xs-column(12);
  margin-top: 30px;
}

/* Extra small devices only (phones) */
@media @phone-only {
  .region-sidebar-first-wrapper,
  .region-content-wrapper:first-child {
    margin-top: 20px;
  }
}

/* Small devices (tablets) */
@media @tablet {
  .region-header-wrapper {
    .site-identity {
      .make-sm-column(5);
    }
    .region-header {
      .make-sm-column(7);
    }
  }
}

/* Medium devices (desktops) */
@media @normal {
  .region-header-wrapper {
    .site-identity {
      .make-sm-column(4);
    }
    .region-header {
      .make-sm-column(8);
    }
  }

  .one-sidebar,
  .two-sidebars {
    .region-sidebar-first-wrapper,
    .region-sidebar-second-wrapper {
      .make-md-column(3);
    }
    .region-content-wrapper,
    .region-footer-wrapper {
      .make-md-column(9);
    }
    .region-footer-wrapper {
      padding-top: 30px;
    }
    
    &.sidebar-left {
      .region-content-wrapper {
        .pull-right();
      }
      .region-sidebar-second-wrapper {
        clear: left;
      }
      .region-footer-wrapper {
        float: none;
        .make-md-column-offset(3);
        clear: right;
      }
    }

    &.sidebar-right {
      .region-sidebar-first-wrapper,
      .region-sidebar-second-wrapper {
        .pull-right();
      }
      .region-sidebar-second-wrapper {
        clear: right;
      }
      .region-footer-wrapper {
        float: none;
        clear: left;
      }
    }
  }
  
  .no-sidebars {
    .region-content-wrapper,
    .region-footer-wrapper {
      .make-md-column(12);
    }
  }
}

/* Large devices (large desktops) */
@media @wide {

}