/* Terms of the "alternatives proprios" vocabulary */
.vocabulary-alternatives-proprios {
  &.taxonomy-term-alternative {
    margin-bottom: 30px;
    .title {
      margin: 0;
    }
    .media, .media-body {
      overflow: visible;
    }
    .media-body {
      .title, .field, .field-items, .field-item {
        display: inline;
      }
      .title {
        padding-right: 20px;
      }
      .field-item {
        img {
          vertical-align: baseline;
        }
        &:after {
          content: ' ';
        }
      }
    }

    @media @tablet {
      margin-bottom: 0;
    }
  }
}

/* Taxonomy term page */
.page-taxonomy-term {
  .taxonomy-term-parent {
    .clearfix();
    header {
      position: relative;
    }
    .title {
      margin: 20px 0;
    }
    .field-name-field-image-cat {
      float: left;
      margin-right: 15px;
      margin-bottom: 20px;
    }
    .btn-wrapper {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .taxonomy-term-children {
    .label {
      display: inline-block;
      font-size: 90%;
      margin-bottom: 0.3em;
    }
  }
  .no-content {
    margin-top: 30px;
    padding: 10px 15px;
    border-radius: 4px;
  }
  #framastuff-taxonomy-term-filters-form {
    margin-top: 40px;
    .radio {
      margin-bottom: 0;
      display: inline-block;
      input {
        position: static;
        margin: 0;
        line-height: @line-height-base;
      }
      label {
        padding-left: 0;
        padding-right: 10px;
        line-height: @line-height-base;
      }
    }
  }
}
.js {
  .page-taxonomy-term {
    #framastuff-taxonomy-term-filters-form {
      .form-submit {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .vocabulary-alternatives-proprios {
    &.taxonomy-term-alternative {
      margin-bottom: 0px;
    }
  }
}