/* Alignement */
.pull-right-sm {
  @media @tablet {
    float: right !important;
  }
}
.pull-left-sm {
  @media @tablet {
    float: left !important;
  }
}
.pull-right-md {
  @media @normal {
    float: right !important;
  }
}
.pull-left-md {
  @media @normal {
    float: left !important;
  }
}
.pull-right-lg {
  @media @wide {
    float: right !important;
  }
}
.pull-left-lg {
  @media @wide {
    float: left !important;
  }
}

.clear-right-sm {
  @media @tablet {
    clear: right;
  }
}
.clear-left-sm {
  @media @tablet {
    clear: left;
  }
}
.clear-right-md {
  @media @normal {
    clear: right;
  }
}
.clear-left-md {
  @media @normal {
    clear: left;
  }
}
.clear-right-lg {
  @media @wide {
    clear: right;
  }
}
.clear-left-lg {
  @media @wide {
    clear: left;
  }
}

/* Buttons */
.btn-block-xs {
  @media @phone-only {
    .btn-block();
  }
}
@media @phone-only {
  .btn-block-xs + .btn-block-xs {
    margin-top: 5px;
  }
}

.btn-block-sm {
  @media @tablet {
    .btn-block();
  }
}
@media @tablet {
  .btn-block-sm + .btn-block-sm {
    margin-top: 5px;
  }
}

.btn-block-md {
  @media @normal {
    .btn-block();
  }
}
@media @normal {
  .btn-block-md + .btn-block-md {
    margin-top: 5px;
  }
}

.btn-block-lg {
  @media @wide {
    .btn-block();
  }
}
@media @wide {
  .btn-block-lg + .btn-block-lg {
    margin-top: 5px;
  }
}


