// Custom class for embed views titles
.view-title {
  .title(40px);
}

// Unformatted views
.view-style-default {
  .views-row {
    .node {
      padding: 5px;
    }
  }
  .views-row-even {
    background-color: #f5f5f5;
  }
  .views-field-counter {
    display: inline-block;
    font-weight: bold;
    .field-content:after {
      content: ".";
    }
  }
  .views-field-counter + .views-field {
    display: inline-block;
  }
}

// View "Recherche par critères"
#block-framastuff-search {
  .views-exposed-form {
    .views-exposed-widget-row {
      display: table;
      width: 100%;
    }
    .views-exposed-widget {
      display: table-cell;
      float: none;
      padding: 0;
      vertical-align: top;
    }
    .views-widget-filter-keys {
      width: 100%;
      label {
        .sr-only();
      }
      .form-text {
        .border-right-radius(0);
      }
    }
    .views-widget-button .form-submit {
      margin: 0;
      .border-left-radius(0);
    }
  }
}

.view-recherche-par-criteres {
  .views-exposed-form {
    .views-exposed-widgets {
      margin-bottom: 0;
    }
    
    .views-exposed-widget-row {
      .make-row();
    }

    .views-exposed-widget {
      .make-xs-column(12);
      margin-top: 20px;
      padding-top: 0;
      .form-submit {
        margin-top: 0;
      }
    }

    .panel {
      margin-bottom: 0;
      .views-exposed-widget-row:first-child .views-exposed-widget {
        margin-top: 0;
      }
    }

    .panel-heading {
      padding: 5px 15px;
    }

    .panel-title {
      font-size: @font-size-base;

      .glyphicon {
        float: right;
        line-height: normal;
      }

      .glyphicon-menu-up { .show(); }
      .glyphicon-menu-down { .hidden(); }

      &.collapsed {
        .glyphicon-menu-up { .hidden(); }
        .glyphicon-menu-down { .show(); }
      }
    }

    .views-widget-button {
      .text-right();
    }

    .form-select[multiple="multiple"] {
      min-height: 150px;
    }

    @media @tablet {
      .views-exposed-widget {
        .make-sm-column(6);
      }
      .views-widget-filter-keys {
        .make-sm-column(12);
      }
      .views-widget-button:first-child {
        .make-sm-column(12);
      }
      .views-exposed-widget + .views-widget-button {
        .make-sm-column(6);
      }
    }
  }
  
  .view-content {
    h2 {
      .title(40px);
    }
  }
  
  .view-empty {
    .alert();
    .alert-info();
    margin-top: 40px;
  }
}